In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd 
import seaborn as sns 
import statistics
import numpy as np
import matplotlib.pyplot as plt
from ydata_profiling import ProfileReport

In [3]:
model_build_df = pd.read_csv('data/MMSA2021_train.csv')

In [4]:
#pd.set_option('display.max_columns', None)

In [5]:
pd.set_option('display.max_info_columns', 1000)
pd.set_option('display.max_info_rows', 1000000)

In [6]:
import io
buffer = io.StringIO()
model_build_df.info(buf=buffer)
info_str = buffer.getvalue()
#print(info_str)

In [7]:
model_build_df.sample(5)

,DISPCODE,STATERE1,CELPHON1,LADULT1,COLGSEX,LANDSEX,RESPSLCT,SAFETIME,CADULT1,CELLSEX,...,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1,_MMSA,_MMSAWT,SEQNO,MMSANAME
115667,1100.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,43580.0,35.130776,2.021000e+09,"b'Sioux City, IA-NE-SD, Metropolitan Statistic..."
44538,1100.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,...,2.0,2.0,1.0,1.0,5.397605e-79,5.397605e-79,39100.0,70.735306,2.021001e+09,"b'Poughkeepsie-Newburgh-Middletown, NY, Metrop..."
28680,1200.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,35380.0,202.603027,2.021000e+09,"b'New Orleans-Metairie, LA, Metropolitan Stati..."
104406,1100.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,...,2.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,42644.0,281.508836,2.021003e+09,"b'Seattle-Bellevue-Kent, WA, Metropolitan Divi..."
130742,1100.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,...,2.0,2.0,1.0,1.0,5.397605e-79,5.397605e-79,22020.0,250.942593,2.021001e+09,"b'Fargo, ND-MN, Metropolitan Statistical Area'"

In [8]:
len(model_build_df)

162710

### Data Dictionary

In [9]:
from Extraction_module import description_dict

In [10]:
#Any variable with value counts below 14 with be turned to a categorical nominal datatype:
# Convert 'col1' from float to categorical
for col in model_build_df.columns:
    if len(model_build_df[col].value_counts()) < 15:
        model_build_df[col] = model_build_df[col].astype('category')

In [11]:
##Extract state from MMSANAME
def get_state(col):
    return col.split(',')[1]

model_build_df['STATE'] = model_build_df['MMSANAME'].apply(get_state)

In [12]:
model_build_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162710 entries, 0 to 162709
Data columns (total 153 columns):
 #    Column    Non-Null Count   Dtype
---   ------    --------------   -----
 0    DISPCODE  162710 non-null  category
 1    STATERE1  39668 non-null   category
 2    CELPHON1  39668 non-null   category
 3    LADULT1   39668 non-null   category
 4    COLGSEX   14 non-null      category
 5    LANDSEX   16664 non-null   category
 6    RESPSLCT  22031 non-null   category
 7    SAFETIME  123042 non-null  category
 8    CADULT1   123042 non-null  category
 9    CELLSEX   123041 non-null  category
 10   HHADULT   123041 non-null  float64
 11   SEXVAR    162710 non-null  category
 12   GENHLTH   162709 non-null  category
 13   PHYSHLTH  162708 non-null  float64
 14   MENTHLTH  162710 non-null  float64
 15   POORHLTH  87874 non-null   float64
 16   PRIMINSR  162709 non-null  category
 17   PERSDOC3  162710 non-null  category
 18   MEDCOST1  162709 non-null  category
 19   CHECKUP1  162710 non-null  category
 20   EXERANY2  162710 non-null  category
 21   BPHIGH6   162710 non-null  category
 22   BPMEDS    60600 non-null   category
 23   CHOLCHK3  162710 non-null  category
 24   TOLDHI3   141413 non-null  category
 25   CHOLMED3  141218 non-null  category
 26   CVDINFR4  162710 non-null  category
 27   CVDCRHD4  162710 non-null  category
 28   CVDSTRK3  162710 non-null  category
 29   ASTHMA3   162710 non-null  category
 30   ASTHNOW   23098 non-null   category
 31   CHCSCNCR  162710 non-null  category
 32   CHCOCNCR  162710 non-null  category
 33   CHCCOPD3  162710 non-null  category
 34   ADDEPEV3  162710 non-null  category
 35   CHCKDNY2  162710 non-null  category
 36   DIABETE4  162710 non-null  category
 37   DIABAGE3  20016 non-null   float64
 38   HAVARTH5  162710 non-null  category
 39   ARTHEXER  49299 non-null   category
 40   ARTHEDU   49299 non-null   category
 41   LMTJOIN3  49299 non-null   category
 42   ARTHDIS2  49299 non-null   category
 43   JOINPAI2  49299 non-null   category
 44   MARITAL   162709 non-null  category
 45   EDUCA     162710 non-null  category
 46   RENTHOM1  162709 non-null  category
 47   NUMHHOL3  39668 non-null   category
 48   NUMPHON3  11496 non-null   category
 49   CPDEMO1B  162593 non-null  category
 50   VETERAN3  162047 non-null  category
 51   EMPLOY1   161249 non-null  category
 52   CHILDREN  160191 non-null  float64
 53   INCOME3   159057 non-null  category
 54   PREGNANT  32003 non-null   category
 55   WEIGHT2   157932 non-null  float64
 56   HEIGHT3   157458 non-null  float64
 57   DEAF      156818 non-null  category
 58   BLIND     156333 non-null  category
 59   DECIDE    155925 non-null  category
 60   DIFFWALK  155469 non-null  category
 61   DIFFDRES  155152 non-null  category
 62   DIFFALON  154732 non-null  category
 63   SMOKE100  154173 non-null  category
 64   SMOKDAY2  58906 non-null   category
 65   USENOW3   153870 non-null  category
 66   ECIGNOW1  153410 non-null  category
 67   ALCDAY5   152805 non-null  float64
 68   AVEDRNK3  81831 non-null   float64
 69   DRNK3GE5  81587 non-null   float64
 70   MAXDRNKS  81353 non-null   float64
 71   FLUSHOT7  151574 non-null  category
 72   FLSHTMY3  80260 non-null   float64
 73   IMFVPLA2  78714 non-null   category
 74   PNEUVAC4  150989 non-null  category
 75   HIVTST7   150567 non-null  category
 76   HIVTSTD3  51770 non-null   float64
 77   FRUIT2    148953 non-null  float64
 78   FRUITJU2  148303 non-null  float64
 79   FVGREEN1  147829 non-null  float64
 80   FRENCHF1  147385 non-null  float64
 81   POTATOE1  146937 non-null  float64
 82   VEGETAB2  146449 non-null  float64
 83   _STSTR    162710 non-null  float64
 84   _IMPSEX   162710 non-null  category
 85   CAGEG     18963 non-null   category
 86   _RFHLTH   162710 non-null  category
 87   _PHYS14D  162710 non-null  category
 88   _MENT14D  162710 non-null  category
 89   _HLTHPLN  162710 non-null  category
 90   _HCVU652  162710 non-null  category
 91   _TOTINDA  162710 non-null  category
 92   _RFHYPE6  162710 non-null  category
 93   _CHOLCH3  162710 non-null  category
 94   _RFCHOL3  141319 non-null  category
 95   _MICHD    161059 non-null  category
 96   _LTASTH1  162710 non-null  category
 97   _CASTHM1  162710 non-null  category
 98   _ASTHMS1  162710 non-null  category
 99   _DRDXAR3  161699 non-null  category
 100  _LMTACT3  161699 non-null  category
 101  _LMTWRK3  161699 non-null  category
 102  _PRACE1   162710 non-null  category
 103  _MRACE1   162710 non-null  category
 104  _HISPANC  162710 non-null  category
 105  _RACE     162710 non-null  category
 106  _RACEG21  162710 non-null  category
 107  _RACEGR3  162710 non-null  category
 108  _RACEPRV  162710 non-null  category
 109  _SEX      162710 non-null  category
 110  _AGEG5YR  162710 non-null  category
 111  _AGE65YR  162710 non-null  category
 112  _AGE80    162710 non-null  float64
 113  _AGE_G    162710 non-null  category
 114  WTKG3     146513 non-null  float64
 115  _BMI5     143962 non-null  float64
 116  _BMI5CAT  143962 non-null  category
 117  _RFBMI5   162710 non-null  category
 118  _EDUCAG   162710 non-null  category
 119  _INCOMG1  162710 non-null  category
 120  _SMOKER3  162710 non-null  category
 121  _RFSMOK3  162710 non-null  category
 122  _CURECI1  162710 non-null  category
 123  DRNKANY5  162710 non-null  category
 124  _RFBING5  162710 non-null  category
 125  _DRNKWK1  162710 non-null  float64
 126  _RFDRHV7  162710 non-null  category
 127  _FLSHOT7  55713 non-null   category
 128  _PNEUMO3  55713 non-null   category
 129  _AIDTST4  150567 non-null  category
 130  FTJUDA2_  145120 non-null  float64
 131  FRUTDA2_  145552 non-null  float64
 132  GRENDA1_  145276 non-null  float64
 133  FRNCHDA_  144916 non-null  float64
 134  POTADA1_  143571 non-null  float64
 135  VEGEDA2_  143569 non-null  float64
 136  _MISFRT1  162710 non-null  category
 137  _MISVEG1  162710 non-null  category
 138  _FRTRES1  162710 non-null  category
 139  _VEGRES1  162710 non-null  category
 140  _FRUTSU1  142859 non-null  float64
 141  _VEGESU1  139365 non-null  float64
 142  _FRTLT1A  162710 non-null  category
 143  _VEGLT1A  162710 non-null  category
 144  _FRT16A   162710 non-null  category
 145  _VEG23A   162710 non-null  category
 146  _FRUITE1  162710 non-null  category
 147  _VEGETE1  162710 non-null  category
 148  _MMSA     162710 non-null  float64
 149  _MMSAWT   162710 non-null  float64
 150  SEQNO     162710 non-null  float64
 151  MMSANAME  162710 non-null  object
 152  STATE     162710 non-null  object
dtypes: category(115), float64(36), object(2)
memory usage: 65.0+ MB

### Handling Duplicate rows

In [13]:
duplicate_rows = model_build_df[model_build_df.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [DISPCODE, STATERE1, CELPHON1, LADULT1, COLGSEX, LANDSEX, RESPSLCT, SAFETIME, CADULT1, CELLSEX, HHADULT, SEXVAR, GENHLTH, PHYSHLTH, MENTHLTH, POORHLTH, PRIMINSR, PERSDOC3, MEDCOST1, CHECKUP1, EXERANY2, BPHIGH6, BPMEDS, CHOLCHK3, TOLDHI3, CHOLMED3, CVDINFR4, CVDCRHD4, CVDSTRK3, ASTHMA3, ASTHNOW, CHCSCNCR, CHCOCNCR, CHCCOPD3, ADDEPEV3, CHCKDNY2, DIABETE4, DIABAGE3, HAVARTH5, ARTHEXER, ARTHEDU, LMTJOIN3, ARTHDIS2, JOINPAI2, MARITAL, EDUCA, RENTHOM1, NUMHHOL3, NUMPHON3, CPDEMO1B, VETERAN3, EMPLOY1, CHILDREN, INCOME3, PREGNANT, WEIGHT2, HEIGHT3, DEAF, BLIND, DECIDE, DIFFWALK, DIFFDRES, DIFFALON, SMOKE100, SMOKDAY2, USENOW3, ECIGNOW1, ALCDAY5, AVEDRNK3, DRNK3GE5, MAXDRNKS, FLUSHOT7, FLSHTMY3, IMFVPLA2, PNEUVAC4, HIVTST7, HIVTSTD3, FRUIT2, FRUITJU2, FVGREEN1, FRENCHF1, POTATOE1, VEGETAB2, _STSTR, _IMPSEX, CAGEG, _RFHLTH, _PHYS14D, _MENT14D, _HLTHPLN, _HCVU652, _TOTINDA, _RFHYPE6, _CHOLCH3, _RFCHOL3, _MICHD, _LTASTH1, _CASTHM1, _ASTHMS1, _DRDXAR3, ...]
Index: []

[0 rows x 153 columns]

### Generate EDA Report with Original Dataset

In [ ]:
#profile = ProfileReport(model_build_df)
#profile.to_file(output_file="EDA_Report.html")

### Handling Missing Data

In [14]:
#Step1 Remove Columns that have more than 50% missing values

def columns_with_high_null_percentage(df, threshold=0.9):
    """
    Get the columns with null values exceeding the specified threshold in a DataFrame.
    
    Parameters:
        df (pd.DataFrame): The input DataFrame.
        threshold (float): The threshold for null values (default is 0.9, meaning 90%).

    Returns:
        List[str]: A list of column names with null values exceeding the threshold.
    """
    null_percentages = (df.isnull().sum() / len(df)).sort_values(ascending=False)
    high_null_columns = null_percentages[null_percentages > threshold].index.tolist()
    return high_null_columns

high_null_columns = columns_with_high_null_percentage(model_build_df, threshold=0.4)
print(high_null_columns)

['COLGSEX', 'NUMPHON3', 'LANDSEX', 'CAGEG', 'DIABAGE3', 'RESPSLCT', 'ASTHNOW', 'PREGNANT', 'CELPHON1', 'LADULT1', 'NUMHHOL3', 'STATERE1', 'ARTHEXER', 'LMTJOIN3', 'ARTHEDU', 'ARTHDIS2', 'JOINPAI2', 'HIVTSTD3', '_FLSHOT7', '_PNEUMO3', 'SMOKDAY2', 'BPMEDS', 'IMFVPLA2', 'FLSHTMY3', 'MAXDRNKS', 'DRNK3GE5', 'AVEDRNK3', 'POORHLTH']

In [15]:
model_build_df_1 = model_build_df.drop(columns=high_null_columns)
model_build_df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162710 entries, 0 to 162709
Data columns (total 125 columns):
 #    Column    Non-Null Count   Dtype
---   ------    --------------   -----
 0    DISPCODE  162710 non-null  category
 1    SAFETIME  123042 non-null  category
 2    CADULT1   123042 non-null  category
 3    CELLSEX   123041 non-null  category
 4    HHADULT   123041 non-null  float64
 5    SEXVAR    162710 non-null  category
 6    GENHLTH   162709 non-null  category
 7    PHYSHLTH  162708 non-null  float64
 8    MENTHLTH  162710 non-null  float64
 9    PRIMINSR  162709 non-null  category
 10   PERSDOC3  162710 non-null  category
 11   MEDCOST1  162709 non-null  category
 12   CHECKUP1  162710 non-null  category
 13   EXERANY2  162710 non-null  category
 14   BPHIGH6   162710 non-null  category
 15   CHOLCHK3  162710 non-null  category
 16   TOLDHI3   141413 non-null  category
 17   CHOLMED3  141218 non-null  category
 18   CVDINFR4  162710 non-null  category
 19   CVDCRHD4  162710 non-null  category
 20   CVDSTRK3  162710 non-null  category
 21   ASTHMA3   162710 non-null  category
 22   CHCSCNCR  162710 non-null  category
 23   CHCOCNCR  162710 non-null  category
 24   CHCCOPD3  162710 non-null  category
 25   ADDEPEV3  162710 non-null  category
 26   CHCKDNY2  162710 non-null  category
 27   DIABETE4  162710 non-null  category
 28   HAVARTH5  162710 non-null  category
 29   MARITAL   162709 non-null  category
 30   EDUCA     162710 non-null  category
 31   RENTHOM1  162709 non-null  category
 32   CPDEMO1B  162593 non-null  category
 33   VETERAN3  162047 non-null  category
 34   EMPLOY1   161249 non-null  category
 35   CHILDREN  160191 non-null  float64
 36   INCOME3   159057 non-null  category
 37   WEIGHT2   157932 non-null  float64
 38   HEIGHT3   157458 non-null  float64
 39   DEAF      156818 non-null  category
 40   BLIND     156333 non-null  category
 41   DECIDE    155925 non-null  category
 42   DIFFWALK  155469 non-null  category
 43   DIFFDRES  155152 non-null  category
 44   DIFFALON  154732 non-null  category
 45   SMOKE100  154173 non-null  category
 46   USENOW3   153870 non-null  category
 47   ECIGNOW1  153410 non-null  category
 48   ALCDAY5   152805 non-null  float64
 49   FLUSHOT7  151574 non-null  category
 50   PNEUVAC4  150989 non-null  category
 51   HIVTST7   150567 non-null  category
 52   FRUIT2    148953 non-null  float64
 53   FRUITJU2  148303 non-null  float64
 54   FVGREEN1  147829 non-null  float64
 55   FRENCHF1  147385 non-null  float64
 56   POTATOE1  146937 non-null  float64
 57   VEGETAB2  146449 non-null  float64
 58   _STSTR    162710 non-null  float64
 59   _IMPSEX   162710 non-null  category
 60   _RFHLTH   162710 non-null  category
 61   _PHYS14D  162710 non-null  category
 62   _MENT14D  162710 non-null  category
 63   _HLTHPLN  162710 non-null  category
 64   _HCVU652  162710 non-null  category
 65   _TOTINDA  162710 non-null  category
 66   _RFHYPE6  162710 non-null  category
 67   _CHOLCH3  162710 non-null  category
 68   _RFCHOL3  141319 non-null  category
 69   _MICHD    161059 non-null  category
 70   _LTASTH1  162710 non-null  category
 71   _CASTHM1  162710 non-null  category
 72   _ASTHMS1  162710 non-null  category
 73   _DRDXAR3  161699 non-null  category
 74   _LMTACT3  161699 non-null  category
 75   _LMTWRK3  161699 non-null  category
 76   _PRACE1   162710 non-null  category
 77   _MRACE1   162710 non-null  category
 78   _HISPANC  162710 non-null  category
 79   _RACE     162710 non-null  category
 80   _RACEG21  162710 non-null  category
 81   _RACEGR3  162710 non-null  category
 82   _RACEPRV  162710 non-null  category
 83   _SEX      162710 non-null  category
 84   _AGEG5YR  162710 non-null  category
 85   _AGE65YR  162710 non-null  category
 86   _AGE80    162710 non-null  float64
 87   _AGE_G    162710 non-null  category
 88   WTKG3     146513 non-null  float64
 89   _BMI5     143962 non-null  float64
 90   _BMI5CAT  143962 non-null  category
 91   _RFBMI5   162710 non-null  category
 92   _EDUCAG   162710 non-null  category
 93   _INCOMG1  162710 non-null  category
 94   _SMOKER3  162710 non-null  category
 95   _RFSMOK3  162710 non-null  category
 96   _CURECI1  162710 non-null  category
 97   DRNKANY5  162710 non-null  category
 98   _RFBING5  162710 non-null  category
 99   _DRNKWK1  162710 non-null  float64
 100  _RFDRHV7  162710 non-null  category
 101  _AIDTST4  150567 non-null  category
 102  FTJUDA2_  145120 non-null  float64
 103  FRUTDA2_  145552 non-null  float64
 104  GRENDA1_  145276 non-null  float64
 105  FRNCHDA_  144916 non-null  float64
 106  POTADA1_  143571 non-null  float64
 107  VEGEDA2_  143569 non-null  float64
 108  _MISFRT1  162710 non-null  category
 109  _MISVEG1  162710 non-null  category
 110  _FRTRES1  162710 non-null  category
 111  _VEGRES1  162710 non-null  category
 112  _FRUTSU1  142859 non-null  float64
 113  _VEGESU1  139365 non-null  float64
 114  _FRTLT1A  162710 non-null  category
 115  _VEGLT1A  162710 non-null  category
 116  _FRT16A   162710 non-null  category
 117  _VEG23A   162710 non-null  category
 118  _FRUITE1  162710 non-null  category
 119  _VEGETE1  162710 non-null  category
 120  _MMSA     162710 non-null  float64
 121  _MMSAWT   162710 non-null  float64
 122  SEQNO     162710 non-null  float64
 123  MMSANAME  162710 non-null  object
 124  STATE     162710 non-null  object
dtypes: category(94), float64(29), object(2)
memory usage: 53.1+ MB

In [18]:
#Step2 Remove categorical columns with low variance using feature selection

from sklearn.feature_selection import VarianceThreshold

# Select only the numerical columns of type float
numerical_df = model_build_df_1.select_dtypes(include='float')

# Specify the threshold for variance (e.g., 0.01, 0.05, etc.)
threshold = 0.01  # Adjust this threshold as needed

# Initialize the VarianceThreshold object
variance_selector = VarianceThreshold(threshold)

# Fit the selector to the numerical data
variance_selector.fit(numerical_df)

# Get the indices of columns with variance above the threshold
high_variance_indices = variance_selector.get_support(indices=True)

# Filter the DataFrame to keep only the high-variance columns
df_high_variance = numerical_df.iloc[:, high_variance_indices]

df_high_variance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162710 entries, 0 to 162709
Data columns (total 29 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   HHADULT   123041 non-null  float64
 1   PHYSHLTH  162708 non-null  float64
 2   MENTHLTH  162710 non-null  float64
 3   CHILDREN  160191 non-null  float64
 4   WEIGHT2   157932 non-null  float64
 5   HEIGHT3   157458 non-null  float64
 6   ALCDAY5   152805 non-null  float64
 7   FRUIT2    148953 non-null  float64
 8   FRUITJU2  148303 non-null  float64
 9   FVGREEN1  147829 non-null  float64
 10  FRENCHF1  147385 non-null  float64
 11  POTATOE1  146937 non-null  float64
 12  VEGETAB2  146449 non-null  float64
 13  _STSTR    162710 non-null  float64
 14  _AGE80    162710 non-null  float64
 15  WTKG3     146513 non-null  float64
 16  _BMI5     143962 non-null  float64
 17  _DRNKWK1  162710 non-null  float64
 18  FTJUDA2_  145120 non-null  float64
 19  FRUTDA2_  145552 non-null  float64
 20  GRENDA1_  145276 non-null  float64
 21  FRNCHDA_  144916 non-null  float64
 22  POTADA1_  143571 non-null  float64
 23  VEGEDA2_  143569 non-null  float64
 24  _FRUTSU1  142859 non-null  float64
 25  _VEGESU1  139365 non-null  float64
 26  _MMSA     162710 non-null  float64
 27  _MMSAWT   162710 non-null  float64
 28  SEQNO     162710 non-null  float64
dtypes: float64(29)
memory usage: 36.0 MB

In [21]:
low_variance_columns = [x for x in numerical_df.columns if x not in df_high_variance.columns]
low_variance_columns

[]

In [ ]:
#Step3 Remove Highly correlated Columns

In [ ]:
#profile = ProfileReport(model_build_df)
#profile.to_file(output_file="EDA_Report_No_NA.html")

How do dietary habits and nutrition shape an individual's health outcome?
- we know that studies have shown that high fiber intake is associated with lower mortality.
as seen in this comparative study https://pubmed.ncbi.nlm.nih.gov/22648726/. 
- we would like to see how a high vegetable/fruit diet may be associated with a person percieved health. 
- the darker the vegetables the higher the fibre content

In [ ]:
#Columns of interest would be nutrition and diet related columns:
nutrition_cols = []
for key, value in description_dict.items():
    if any(sub in str(value).lower() for sub in ['fruit','vegetable','fruits','vegetables']):
        nutrition_cols.append(key)

In [ ]:
nutrition_cols

In [ ]:
#drop alcolhol related columns 
nutrition_cols = nutrition_cols[2:]
for col in nutrition_cols:
    print(description_dict[col])

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
#make a dataframe by combining nutrition columns with health status, health days columns  
nutrition_cols = nutrition_cols + ['GENHLTH','PHYSHLTH','POORHLTH','_RFHLTH','_PHYS14D','_MENT14D']
df_nutrition = model_build_df[nutrition_cols]

In [ ]:
df_nutrition.head()

In [ ]:
plt.figure(figsize=(15,10))
ax = sns.heatmap(df_nutrition.corr(),cmap='viridis',annot=True, annot_kws={"size": 8})

### Looking at the data we could use the calculated Total calcualted variables per day for the fruits and vegetables to see its relation to general health

In [ ]:
#_FRUTSU1=(FTJUDA2_/100) + (FRUTDA2_/100); 
#_FRUTSU1=round((_FRUTSU1*100),1); 

#WE CAN MAKE A TOTAL FRUITS PER DAY COLUMN 
df_nutrition['Total_fruits_daily'] = df_nutrition['_FRUTSU1'].apply(lambda x: round(x/100,1) )
df_nutrition.head()

In [ ]:
df_nutrition['Total_fruits_daily'].value_counts().head(20)

In [ ]:
#_VEGESU1=(GRENDA1_/100) + (FRNCHDA_/100) + (POTADA1_/100) + 
#(VEGEDA2_/100); 
#_VEGESU1=round((_VEGESU1*100),1); 

#WE CAN MAKE A TOTAL VEGETABLES PER DAY COLUMN 
df_nutrition['Total_vegetables_daily'] = df_nutrition['_VEGESU1'].apply(lambda x: round(x/100,1))
df_nutrition.head()

In [ ]:
df_nutrition['Total_vegetables_daily'].value_counts().head(20)

In [ ]:
df_nutrition.describe([0.25,0.5,0.75,0.99]).T

In [ ]:
#lets filter data to remove outliers 
filtered_df = df_nutrition[(df_nutrition['Total_fruits_daily'] <= 9.0) & 
                           (df_nutrition['Total_vegetables_daily'] <= 26.6396)]

In [ ]:
len(filtered_df)

In [ ]:
#Distribution of Total_fruits_daily
sns.histplot(x=filtered_df['Total_vegetables_daily'])

In [ ]:
#Distribution of Total_vegetables_daily
sns.histplot(x=filtered_df['Total_fruits_daily'])

In [ ]:
#create a BOX PLOT FOR _RFHLTH Vs Total fruits 
plt.figure(figsize=(5,5))
sns.set_style('darkgrid')
sns.boxplot(data=filtered_df, x='Total_fruits_daily', y='_RFHLTH')

In [ ]:
#CREATE A SCATTERPLOT FOR PHYSHLTH(Number of days of poor physical health) Vs Total fruits consued daily
plt.figure(figsize=(5,5))
sns.set_style('darkgrid')
sns.boxplot(data=filtered_df, y='Total_fruits_daily', x='_PHYS14D')

In [ ]:
#create a BOX PLOT FOR _RFHLTH Vs Total_vegetables_daily
plt.figure(figsize=(5,5))
sns.set_style('darkgrid')
sns.boxplot(data=filtered_df, x='Total_vegetables_daily', y='_RFHLTH')

In [ ]:
#Lets create a pivot table showing the mean fruits and vegetables consumed per day for each _RFHLTH group 

pivot_result = pd.pivot_table(filtered_df, values=['Total_fruits_daily','Total_vegetables_daily'],index='_RFHLTH', aggfunc='mean')

#Only looking at those who reported Good health vs those that reported poor/bad health
pivot_result[0:2]

- This analysis shows that those who reported good or better health had a higher mean daily intake of fruits and vegetables. Not a significant difference.

### Apply association rules between eating fruits and vegetables and good percieved health

In [ ]:
#!pip install mlxtend

In [ ]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

# Assuming you already have a DataFrame called filtered_df with 'Total_fruits_daily', 'Total_vegetables_daily' and '_RFHLTH' columns

# Binning Total_fruits_daily
fruit_bins = [0, 2, 4, 10]  # Adjust bins as per your data distribution for fruits
fruit_labels = ['Low_Fruit', 'Medium_Fruit', 'High_Fruit']
filtered_df['Fruit_Intake_Binned'] = pd.cut(filtered_df['Total_fruits_daily'], bins=fruit_bins, labels=fruit_labels, include_lowest=True)

# Binning Total_vegetables_daily
veg_bins = [0, 8, 16, 26]  # Adjust bins as per your data distribution for vegetables
veg_labels = ['Low_Veg', 'Medium_Veg', 'High_Veg']
filtered_df['Veg_Intake_Binned'] = pd.cut(filtered_df['Total_vegetables_daily'], bins=veg_bins, labels=veg_labels, include_lowest=True)

# Convert to the binary format
filtered_df_binary = pd.get_dummies(filtered_df[['Fruit_Intake_Binned', 'Veg_Intake_Binned', '_RFHLTH']])

# Apply Apriori to find frequent itemsets
frequent_itemsets = apriori(filtered_df_binary, min_support=0.1, use_colnames=True)

# Generate Association Rules
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)
print(rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']])

What is the role of access to healthcare,marriage status, Education and income in predicting health outcomes?

In [ ]:
#Get the columns related to access to healthcare,

In [ ]:
#make a dataframe by combining acess to healthcare columns with health status, health days columns

In [ ]:
#Do some EDA analysis and correlation analysis to see if there are relationships btw acess to healthcare and percieved
#health

In [ ]:
#Apply association rules between acess to healthcare and good percieved health

Can lifestyle factors, including smoking and alcohol consumption, 
predict health risks and outcomes?

In [ ]:
#Get the columns related to alcohol consumption and smoking

In [ ]:
#Get the columns related to exercise

How predictable are chronic diseases, such as diabetes and hypertension, through a combined analysis of 
lifestyle factors and genetic predisposition?

What is the significant contribution of mental health factors, such as stress, anxiety, 
and depression, to health outcomes, and what pathways influence overall well-being?