In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd 
import seaborn as sns 
import statistics
import numpy as np
import matplotlib.pyplot as plt
from ydata_profiling import ProfileReport

In [3]:
model_build_df = pd.read_csv('mydata/MMSA2021_train.csv')

In [4]:
#pd.set_option('display.max_columns', None)

In [5]:
pd.set_option('display.max_info_columns', 1000)
pd.set_option('display.max_info_rows', 1000000)

In [6]:
import io
buffer = io.StringIO()
model_build_df.info(buf=buffer)
info_str = buffer.getvalue()
#print(info_str)

In [7]:
model_build_df.sample(5)

,DISPCODE,STATERE1,CELPHON1,LADULT1,COLGSEX,LANDSEX,RESPSLCT,SAFETIME,CADULT1,CELLSEX,...,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1,_MMSA,_MMSAWT,SEQNO,MMSANAME
42645,1100.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,...,2.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,38900.0,321.056144,2.021001e+09,"b'Portland-Vancouver-Hillsboro, OR-WA, Metropo..."
125307,1100.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,...,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,39300.0,89.509285,2.021006e+09,"b'Providence-Warwick, RI-MA, Metropolitan Stat..."
148802,1100.0,1.0,2.0,1.0,NaN,NaN,2.0,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,47980.0,12.758455,2.021000e+09,"b'Watertown, SD, Micropolitan Statistical Area'"
60222,1100.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,...,2.0,2.0,1.0,1.0,5.397605e-79,5.397605e-79,39300.0,131.737147,2.021005e+09,"b'Providence-Warwick, RI-MA, Metropolitan Stat..."
140220,1100.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,...,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,25540.0,133.892681,2.021001e+09,"b'Hartford-East Hartford-Middletown, CT, Metro..."

In [8]:
len(model_build_df)

151861

### Data Dictionary

In [9]:
from Extraction_module import description_dict

In [10]:
#Any variable with value counts below 14 with be turned to a categorical nominal datatype:
# Convert 'col1' from float to categorical
for col in model_build_df.columns:
    if len(model_build_df[col].value_counts()) < 15:
        model_build_df[col] = model_build_df[col].astype('category')

In [11]:
##Extract state from MMSANAME
def get_state(col):
    return col.split(',')[1]

model_build_df['STATE'] = model_build_df['MMSANAME'].apply(get_state)

In [12]:
model_build_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151861 entries, 0 to 151860
Data columns (total 153 columns):
 #    Column    Non-Null Count   Dtype
---   ------    --------------   -----
 0    DISPCODE  151861 non-null  category
 1    STATERE1  37094 non-null   category
 2    CELPHON1  37094 non-null   category
 3    LADULT1   37094 non-null   category
 4    COLGSEX   13 non-null      category
 5    LANDSEX   15568 non-null   category
 6    RESPSLCT  20603 non-null   category
 7    SAFETIME  114767 non-null  category
 8    CADULT1   114767 non-null  category
 9    CELLSEX   114766 non-null  category
 10   HHADULT   114766 non-null  float64
 11   SEXVAR    151861 non-null  category
 12   GENHLTH   151860 non-null  category
 13   PHYSHLTH  151859 non-null  float64
 14   MENTHLTH  151861 non-null  float64
 15   POORHLTH  81991 non-null   float64
 16   PRIMINSR  151860 non-null  category
 17   PERSDOC3  151861 non-null  category
 18   MEDCOST1  151860 non-null  category
 19   CHECKUP1  151861 non-null  category
 20   EXERANY2  151861 non-null  category
 21   BPHIGH6   151861 non-null  category
 22   BPMEDS    56562 non-null   category
 23   CHOLCHK3  151861 non-null  category
 24   TOLDHI3   131964 non-null  category
 25   CHOLMED3  131786 non-null  category
 26   CVDINFR4  151861 non-null  category
 27   CVDCRHD4  151861 non-null  category
 28   CVDSTRK3  151861 non-null  category
 29   ASTHMA3   151861 non-null  category
 30   ASTHNOW   21562 non-null   category
 31   CHCSCNCR  151861 non-null  category
 32   CHCOCNCR  151861 non-null  category
 33   CHCCOPD3  151861 non-null  category
 34   ADDEPEV3  151861 non-null  category
 35   CHCKDNY2  151861 non-null  category
 36   DIABETE4  151861 non-null  category
 37   DIABAGE3  18689 non-null   float64
 38   HAVARTH5  151861 non-null  category
 39   ARTHEXER  46042 non-null   category
 40   ARTHEDU   46042 non-null   category
 41   LMTJOIN3  46042 non-null   category
 42   ARTHDIS2  46042 non-null   category
 43   JOINPAI2  46042 non-null   category
 44   MARITAL   151860 non-null  category
 45   EDUCA     151861 non-null  category
 46   RENTHOM1  151860 non-null  category
 47   NUMHHOL3  37094 non-null   category
 48   NUMPHON3  10735 non-null   category
 49   CPDEMO1B  151753 non-null  category
 50   VETERAN3  151238 non-null  category
 51   EMPLOY1   150488 non-null  category
 52   CHILDREN  149499 non-null  float64
 53   INCOME3   148430 non-null  category
 54   PREGNANT  29813 non-null   category
 55   WEIGHT2   147379 non-null  float64
 56   HEIGHT3   146934 non-null  float64
 57   DEAF      146333 non-null  category
 58   BLIND     145873 non-null  category
 59   DECIDE    145506 non-null  category
 60   DIFFWALK  145086 non-null  category
 61   DIFFDRES  144792 non-null  category
 62   DIFFALON  144395 non-null  category
 63   SMOKE100  143884 non-null  category
 64   SMOKDAY2  54936 non-null   category
 65   USENOW3   143597 non-null  category
 66   ECIGNOW1  143167 non-null  category
 67   ALCDAY5   142597 non-null  float64
 68   AVEDRNK3  76463 non-null   float64
 69   DRNK3GE5  76234 non-null   float64
 70   MAXDRNKS  76013 non-null   float64
 71   FLUSHOT7  141447 non-null  category
 72   FLSHTMY3  74881 non-null   float64
 73   IMFVPLA2  73440 non-null   category
 74   PNEUVAC4  140902 non-null  category
 75   HIVTST7   140507 non-null  category
 76   HIVTSTD3  48245 non-null   float64
 77   FRUIT2    138991 non-null  float64
 78   FRUITJU2  138378 non-null  float64
 79   FVGREEN1  137940 non-null  float64
 80   FRENCHF1  137525 non-null  float64
 81   POTATOE1  137102 non-null  float64
 82   VEGETAB2  136657 non-null  float64
 83   _STSTR    151861 non-null  float64
 84   _IMPSEX   151861 non-null  category
 85   CAGEG     17691 non-null   category
 86   _RFHLTH   151861 non-null  category
 87   _PHYS14D  151861 non-null  category
 88   _MENT14D  151861 non-null  category
 89   _HLTHPLN  151861 non-null  category
 90   _HCVU652  151861 non-null  category
 91   _TOTINDA  151861 non-null  category
 92   _RFHYPE6  151861 non-null  category
 93   _CHOLCH3  151861 non-null  category
 94   _RFCHOL3  131875 non-null  category
 95   _MICHD    150297 non-null  category
 96   _LTASTH1  151861 non-null  category
 97   _CASTHM1  151861 non-null  category
 98   _ASTHMS1  151861 non-null  category
 99   _DRDXAR3  150908 non-null  category
 100  _LMTACT3  150908 non-null  category
 101  _LMTWRK3  150908 non-null  category
 102  _PRACE1   151861 non-null  category
 103  _MRACE1   151861 non-null  category
 104  _HISPANC  151861 non-null  category
 105  _RACE     151861 non-null  category
 106  _RACEG21  151861 non-null  category
 107  _RACEGR3  151861 non-null  category
 108  _RACEPRV  151861 non-null  category
 109  _SEX      151861 non-null  category
 110  _AGEG5YR  151861 non-null  category
 111  _AGE65YR  151861 non-null  category
 112  _AGE80    151861 non-null  float64
 113  _AGE_G    151861 non-null  category
 114  WTKG3     136693 non-null  float64
 115  _BMI5     134322 non-null  float64
 116  _BMI5CAT  134322 non-null  category
 117  _RFBMI5   151861 non-null  category
 118  _EDUCAG   151861 non-null  category
 119  _INCOMG1  151861 non-null  category
 120  _SMOKER3  151861 non-null  category
 121  _RFSMOK3  151861 non-null  category
 122  _CURECI1  151861 non-null  category
 123  DRNKANY5  151861 non-null  category
 124  _RFBING5  151861 non-null  category
 125  _DRNKWK1  151861 non-null  float64
 126  _RFDRHV7  151861 non-null  category
 127  _FLSHOT7  51972 non-null   category
 128  _PNEUMO3  51972 non-null   category
 129  _AIDTST4  140507 non-null  category
 130  FTJUDA2_  135414 non-null  float64
 131  FRUTDA2_  135801 non-null  float64
 132  GRENDA1_  135552 non-null  float64
 133  FRNCHDA_  135224 non-null  float64
 134  POTADA1_  133965 non-null  float64
 135  VEGEDA2_  133962 non-null  float64
 136  _MISFRT1  151861 non-null  category
 137  _MISVEG1  151861 non-null  category
 138  _FRTRES1  151861 non-null  category
 139  _VEGRES1  151861 non-null  category
 140  _FRUTSU1  133297 non-null  float64
 141  _VEGESU1  130078 non-null  float64
 142  _FRTLT1A  151861 non-null  category
 143  _VEGLT1A  151861 non-null  category
 144  _FRT16A   151861 non-null  category
 145  _VEG23A   151861 non-null  category
 146  _FRUITE1  151861 non-null  category
 147  _VEGETE1  151861 non-null  category
 148  _MMSA     151861 non-null  float64
 149  _MMSAWT   151861 non-null  float64
 150  SEQNO     151861 non-null  float64
 151  MMSANAME  151861 non-null  object
 152  STATE     151861 non-null  object
dtypes: category(115), float64(36), object(2)
memory usage: 60.7+ MB

### Handling Duplicate rows

In [13]:
duplicate_rows = model_build_df[model_build_df.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [DISPCODE, STATERE1, CELPHON1, LADULT1, COLGSEX, LANDSEX, RESPSLCT, SAFETIME, CADULT1, CELLSEX, HHADULT, SEXVAR, GENHLTH, PHYSHLTH, MENTHLTH, POORHLTH, PRIMINSR, PERSDOC3, MEDCOST1, CHECKUP1, EXERANY2, BPHIGH6, BPMEDS, CHOLCHK3, TOLDHI3, CHOLMED3, CVDINFR4, CVDCRHD4, CVDSTRK3, ASTHMA3, ASTHNOW, CHCSCNCR, CHCOCNCR, CHCCOPD3, ADDEPEV3, CHCKDNY2, DIABETE4, DIABAGE3, HAVARTH5, ARTHEXER, ARTHEDU, LMTJOIN3, ARTHDIS2, JOINPAI2, MARITAL, EDUCA, RENTHOM1, NUMHHOL3, NUMPHON3, CPDEMO1B, VETERAN3, EMPLOY1, CHILDREN, INCOME3, PREGNANT, WEIGHT2, HEIGHT3, DEAF, BLIND, DECIDE, DIFFWALK, DIFFDRES, DIFFALON, SMOKE100, SMOKDAY2, USENOW3, ECIGNOW1, ALCDAY5, AVEDRNK3, DRNK3GE5, MAXDRNKS, FLUSHOT7, FLSHTMY3, IMFVPLA2, PNEUVAC4, HIVTST7, HIVTSTD3, FRUIT2, FRUITJU2, FVGREEN1, FRENCHF1, POTATOE1, VEGETAB2, _STSTR, _IMPSEX, CAGEG, _RFHLTH, _PHYS14D, _MENT14D, _HLTHPLN, _HCVU652, _TOTINDA, _RFHYPE6, _CHOLCH3, _RFCHOL3, _MICHD, _LTASTH1, _CASTHM1, _ASTHMS1, _DRDXAR3, ...]
Index: []

[0 rows x 153 columns]

### Generate EDA Report with Original Dataset

In [14]:
#profile = ProfileReport(model_build_df)
#profile.to_file(output_file="mydata/EDA_Report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

### Handling Missing Data

In [15]:
#Step1 Remove Columns that have more than 50% missing values

def columns_with_high_null_percentage(df, threshold=0.9):
    """
    Get the columns with null values exceeding the specified threshold in a DataFrame.
    
    Parameters:
        df (pd.DataFrame): The input DataFrame.
        threshold (float): The threshold for null values (default is 0.9, meaning 90%).

    Returns:
        List[str]: A list of column names with null values exceeding the threshold.
    """
    null_percentages = (df.isnull().sum() / len(df)).sort_values(ascending=False)
    high_null_columns = null_percentages[null_percentages > threshold].index.tolist()
    return high_null_columns

high_null_columns = columns_with_high_null_percentage(model_build_df, threshold=0.4)
print(high_null_columns)

['COLGSEX', 'NUMPHON3', 'LANDSEX', 'CAGEG', 'DIABAGE3', 'RESPSLCT', 'ASTHNOW', 'PREGNANT', 'CELPHON1', 'LADULT1', 'NUMHHOL3', 'STATERE1', 'ARTHEXER', 'LMTJOIN3', 'ARTHEDU', 'ARTHDIS2', 'JOINPAI2', 'HIVTSTD3', '_FLSHOT7', '_PNEUMO3', 'SMOKDAY2', 'BPMEDS', 'IMFVPLA2', 'FLSHTMY3', 'MAXDRNKS', 'DRNK3GE5', 'AVEDRNK3', 'POORHLTH']

In [16]:
model_build_df_1 = model_build_df.drop(columns=high_null_columns)
model_build_df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151861 entries, 0 to 151860
Data columns (total 125 columns):
 #    Column    Non-Null Count   Dtype
---   ------    --------------   -----
 0    DISPCODE  151861 non-null  category
 1    SAFETIME  114767 non-null  category
 2    CADULT1   114767 non-null  category
 3    CELLSEX   114766 non-null  category
 4    HHADULT   114766 non-null  float64
 5    SEXVAR    151861 non-null  category
 6    GENHLTH   151860 non-null  category
 7    PHYSHLTH  151859 non-null  float64
 8    MENTHLTH  151861 non-null  float64
 9    PRIMINSR  151860 non-null  category
 10   PERSDOC3  151861 non-null  category
 11   MEDCOST1  151860 non-null  category
 12   CHECKUP1  151861 non-null  category
 13   EXERANY2  151861 non-null  category
 14   BPHIGH6   151861 non-null  category
 15   CHOLCHK3  151861 non-null  category
 16   TOLDHI3   131964 non-null  category
 17   CHOLMED3  131786 non-null  category
 18   CVDINFR4  151861 non-null  category
 19   CVDCRHD4  151861 non-null  category
 20   CVDSTRK3  151861 non-null  category
 21   ASTHMA3   151861 non-null  category
 22   CHCSCNCR  151861 non-null  category
 23   CHCOCNCR  151861 non-null  category
 24   CHCCOPD3  151861 non-null  category
 25   ADDEPEV3  151861 non-null  category
 26   CHCKDNY2  151861 non-null  category
 27   DIABETE4  151861 non-null  category
 28   HAVARTH5  151861 non-null  category
 29   MARITAL   151860 non-null  category
 30   EDUCA     151861 non-null  category
 31   RENTHOM1  151860 non-null  category
 32   CPDEMO1B  151753 non-null  category
 33   VETERAN3  151238 non-null  category
 34   EMPLOY1   150488 non-null  category
 35   CHILDREN  149499 non-null  float64
 36   INCOME3   148430 non-null  category
 37   WEIGHT2   147379 non-null  float64
 38   HEIGHT3   146934 non-null  float64
 39   DEAF      146333 non-null  category
 40   BLIND     145873 non-null  category
 41   DECIDE    145506 non-null  category
 42   DIFFWALK  145086 non-null  category
 43   DIFFDRES  144792 non-null  category
 44   DIFFALON  144395 non-null  category
 45   SMOKE100  143884 non-null  category
 46   USENOW3   143597 non-null  category
 47   ECIGNOW1  143167 non-null  category
 48   ALCDAY5   142597 non-null  float64
 49   FLUSHOT7  141447 non-null  category
 50   PNEUVAC4  140902 non-null  category
 51   HIVTST7   140507 non-null  category
 52   FRUIT2    138991 non-null  float64
 53   FRUITJU2  138378 non-null  float64
 54   FVGREEN1  137940 non-null  float64
 55   FRENCHF1  137525 non-null  float64
 56   POTATOE1  137102 non-null  float64
 57   VEGETAB2  136657 non-null  float64
 58   _STSTR    151861 non-null  float64
 59   _IMPSEX   151861 non-null  category
 60   _RFHLTH   151861 non-null  category
 61   _PHYS14D  151861 non-null  category
 62   _MENT14D  151861 non-null  category
 63   _HLTHPLN  151861 non-null  category
 64   _HCVU652  151861 non-null  category
 65   _TOTINDA  151861 non-null  category
 66   _RFHYPE6  151861 non-null  category
 67   _CHOLCH3  151861 non-null  category
 68   _RFCHOL3  131875 non-null  category
 69   _MICHD    150297 non-null  category
 70   _LTASTH1  151861 non-null  category
 71   _CASTHM1  151861 non-null  category
 72   _ASTHMS1  151861 non-null  category
 73   _DRDXAR3  150908 non-null  category
 74   _LMTACT3  150908 non-null  category
 75   _LMTWRK3  150908 non-null  category
 76   _PRACE1   151861 non-null  category
 77   _MRACE1   151861 non-null  category
 78   _HISPANC  151861 non-null  category
 79   _RACE     151861 non-null  category
 80   _RACEG21  151861 non-null  category
 81   _RACEGR3  151861 non-null  category
 82   _RACEPRV  151861 non-null  category
 83   _SEX      151861 non-null  category
 84   _AGEG5YR  151861 non-null  category
 85   _AGE65YR  151861 non-null  category
 86   _AGE80    151861 non-null  float64
 87   _AGE_G    151861 non-null  category
 88   WTKG3     136693 non-null  float64
 89   _BMI5     134322 non-null  float64
 90   _BMI5CAT  134322 non-null  category
 91   _RFBMI5   151861 non-null  category
 92   _EDUCAG   151861 non-null  category
 93   _INCOMG1  151861 non-null  category
 94   _SMOKER3  151861 non-null  category
 95   _RFSMOK3  151861 non-null  category
 96   _CURECI1  151861 non-null  category
 97   DRNKANY5  151861 non-null  category
 98   _RFBING5  151861 non-null  category
 99   _DRNKWK1  151861 non-null  float64
 100  _RFDRHV7  151861 non-null  category
 101  _AIDTST4  140507 non-null  category
 102  FTJUDA2_  135414 non-null  float64
 103  FRUTDA2_  135801 non-null  float64
 104  GRENDA1_  135552 non-null  float64
 105  FRNCHDA_  135224 non-null  float64
 106  POTADA1_  133965 non-null  float64
 107  VEGEDA2_  133962 non-null  float64
 108  _MISFRT1  151861 non-null  category
 109  _MISVEG1  151861 non-null  category
 110  _FRTRES1  151861 non-null  category
 111  _VEGRES1  151861 non-null  category
 112  _FRUTSU1  133297 non-null  float64
 113  _VEGESU1  130078 non-null  float64
 114  _FRTLT1A  151861 non-null  category
 115  _VEGLT1A  151861 non-null  category
 116  _FRT16A   151861 non-null  category
 117  _VEG23A   151861 non-null  category
 118  _FRUITE1  151861 non-null  category
 119  _VEGETE1  151861 non-null  category
 120  _MMSA     151861 non-null  float64
 121  _MMSAWT   151861 non-null  float64
 122  SEQNO     151861 non-null  float64
 123  MMSANAME  151861 non-null  object
 124  STATE     151861 non-null  object
dtypes: category(94), float64(29), object(2)
memory usage: 49.5+ MB

In [ ]:
#Step2 Remove categorical columns with low variance using feature selection

from sklearn.feature_selection import VarianceThreshold

# Select only the numerical columns of type float
numerical_df = model_build_df_1.select_dtypes(include='float')

# Specify the threshold for variance (e.g., 0.01, 0.05, etc.)
threshold = 0.01  # Adjust this threshold as needed

# Initialize the VarianceThreshold object
variance_selector = VarianceThreshold(threshold)

# Fit the selector to the numerical data
variance_selector.fit(numerical_df)

# Get the indices of columns with variance above the threshold
high_variance_indices = variance_selector.get_support(indices=True)

# Filter the DataFrame to keep only the high-variance columns
df_high_variance = numerical_df.iloc[:, high_variance_indices]

df_high_variance.info()

In [18]:
low_variance_columns = [x for x in numerical_df.columns if x not in df_high_variance.columns]
low_variance_columns

[]

In [19]:
#Step3 Remove Highly correlated Columns

In [20]:
#profile = ProfileReport(model_build_df)
#profile.to_file(output_file="EDA_Report_No_NA.html")

How do dietary habits and nutrition shape an individual's health outcome?
- we know that studies have shown that high fiber intake is associated with lower mortality.
as seen in this comparative study https://pubmed.ncbi.nlm.nih.gov/22648726/. 
- we would like to see how a high vegetable/fruit diet may be associated with a person percieved health. 
- the darker the vegetables the higher the fibre content

In [21]:
#Columns of interest would be nutrition and diet related columns:
nutrition_cols = []
for key, value in description_dict.items():
    if any(sub in str(value).lower() for sub in ['fruit','vegetable','fruits','vegetables']):
        nutrition_cols.append(key)

In [22]:
nutrition_cols

['ALCDAY5',
 'AVEDRNK3',
 'FRUIT2',
 'FRUITJU2',
 'FVGREEN1',
 'FRENCHF1',
 'VEGETAB2',
 'FTJUDA2_',
 'FRUTDA2_',
 'GRENDA1_',
 'FRNCHDA_',
 'POTADA1_',
 'VEGEDA2_',
 '_MISFRT1',
 '_MISVEG1',
 '_FRTRES1',
 '_VEGRES1',
 '_FRUTSU1',
 '_VEGESU1',
 '_FRTLT1A',
 '_VEGLT1A',
 '_FRT16A',
 '_VEG23A',
 '_FRUITE1',
 '_VEGETE1']

In [23]:
#drop alcolhol related columns 
nutrition_cols = nutrition_cols[2:]
for col in nutrition_cols:
    print(description_dict[col])

description of FRUIT2: 44
8 June 2022   Core Section 15: Fruits and Vegetables

Question
Number  Question text  Variable
names  Responses
(DO NOT
READ UNLESS
OTHERWISE
NOTED)  SKIP INFO/
CATI Note  Interviewer Note (s)  Column(s)
CFV.01  Now think about
the foods you
ate or drank
during the past
month, that is,
the past 30 days,
including meals
and snacks.
Not including
juices, how
often did you
eat fruit? You
can tell me
times per day,
times per week
or times per
month.   FRUIT2  1_ _ Day
2_ _ Week
3_ _ Month
300 Less than
once a month
555 Never
777 Don’t
Know
999 Refused   If a respondent
indicates that they
consume a food
item every day then
enter the number of
times per day.  If
the respondent
indicates that they
eat a food less than
daily, then enter
times p er week or
time per month.  Do
not enter time per
day unless the
respondent reports
that he/she
consumed that food
item each day
during the past
month.
Enter quantity in
times per day,
week, or month.
If respondent gives
a number without a
time frame, ask
“was that per day,
week, or month?”
Read if respondent
asks what to include
or says ‘i don’t
know’: include
fresh, frozen or
canned fruit. Do not
include dried fruits.
description of FRUITJU2: 45
8 June 2022
CFV.02  Not including
fruit -flavored
drinks or fruit
juices with added sugar,
how often did
you drink 100% fruit juice such as apple or
orange juice?   FRUITJU2  1_ _ Day
2_ _ Week
3_ _ Month
300 Less than
once a month
555 Never
777 Don’t Know
999 Refused   Read if respondent
asks about
examples of fruit -
flavored drinks: “do not include fruit -
flavored drinks with added sugar like cranberry cocktail, Hi-C, lemonade,
Kool -Aid, Gatorade,
Tampico, and sunny delight. Include only 100% pure juices or
100% juice blends.”
Enter quantity in
times per day,
week, or month.
If respondent giv es
a number without a
time frame, ask “Was that per day,
week, or month?”
description of FVGREEN1: 45
8 June 2022
CFV.02  Not including
fruit -flavored
drinks or fruit
juices with added sugar,
how often did
you drink 100% fruit juice such as apple or
orange juice?   FRUITJU2  1_ _ Day
2_ _ Week
3_ _ Month
300 Less than
once a month
555 Never
777 Don’t Know
999 Refused   Read if respondent
asks about
examples of fruit -
flavored drinks: “do not include fruit -
flavored drinks with added sugar like cranberry cocktail, Hi-C, lemonade,
Kool -Aid, Gatorade,
Tampico, and sunny delight. Include only 100% pure juices or
100% juice blends.”
Enter quantity in
times per day,
week, or month.
If respondent giv es
a number without a
time frame, ask “Was that per day,
week, or month?”


CFV.03  How often did
you eat a green
leafy or lettuce
salad, with or
without other
vegetables?  FVGREEN1  1_ _ Day
2_ _ Week
3_ _ Month
300 Less than
once a month
555 Never
777 Don’t
Know
999 Refused   Enter quantity in
times per day,
week, or month.
If respondent gives
a number without a
time frame, ask
“Was that per day,
week, or month?”

Read if respondent
asks about spinach:
“Include spinach
salads.”
description of FRENCHF1: 45
8 June 2022
CFV.02  Not including
fruit -flavored
drinks or fruit
juices with added sugar,
how often did
you drink 100% fruit juice such as apple or
orange juice?   FRUITJU2  1_ _ Day
2_ _ Week
3_ _ Month
300 Less than
once a month
555 Never
777 Don’t Know
999 Refused   Read if respondent
asks about
examples of fruit -
flavored drinks: “do not include fruit -
flavored drinks with added sugar like cranberry cocktail, Hi-C, lemonade,
Kool -Aid, Gatorade,
Tampico, and sunny delight. Include only 100% pure juices or
100% juice blends.”
Enter quantity in
times per day,
week, or month.
If respondent giv es
a number without a
time frame, ask “Was that per day,
week, or month?”


CFV.03  How often did
you eat a green
leafy or lettuce
salad, with or
without other
vegetables?  FVGREEN1  1_ _ Day
2_ _ Week
3_ _ Month
300 Less than
once a month
555 Never
777 Don’t
Know
999 Refused   Enter quantity in
times per day,
week, or month.
If respondent gives
a number without a
time frame, ask
“Was that per day,
week, or month?”

Read if respondent
asks about spinach:
“Include spinach
salads.”

CFV.04  How often did
you eat any kind of fried potatoes, including French FRENCHF1  1_ _ Day
2_ _ Week
3_ _ Month
300 Less than
once a month   Enter quantity in
times per day, week, or month.
If respond ent gives
a number without a
description of VEGETAB2: 46
8 June 2022   fries, home fries,
or hash browns?  555 Never
777 Don’t
Know
999 Refused  time frame, ask
“Was that per day,
week, or month?”
Read if respondent asks about potato chips: “Do not
include potato
chips.”
CFV.05  How often did
you eat any
other kind of
potatoes, or
sweet potatoes,
such as baked,
boiled, mashed
potatoes, or
potato salad?  POTATOE1  1_ _ Day
2_ _ Week
3_ _ Month
300 Less than
once a month
555 Never
777 Don’t
Know
999 Refused   Enter quantity in
times per day,
week, or month.
If respondent gives
a number without a
time frame, ask
“Was that per day,
week, or month?”

Read if respondent
asks about what
types of potatoes to
include: “Include all
types of potatoes
except fried. Include
potatoes au gratin,
scalloped
potatoes.”


CFV.06  Not including
lettuce salads
and potatoes, how of ten did
you eat other vegetables?  VEGETAB2  1_ _ Day
2_ _ Week
3_ _ Month
300 Less than
once a month
555 Never
777 Don’t
Know
999 Refused   Enter quantity in
times per day, week, or month.
If respondent gives
a number without a
time frame, ask “Was that per day, week, or month?”

Read if respondent asks about what to include: “Include tomatoes, green beans, carrots, corn,
cabbage, bean
sprouts, collard greens, and broccoli. Include raw, cooked,
canned, or frozen
description of FTJUDA2_: Calculated Variables in the 2021 BRFSS Data File (continued)
Section 14: HIV/AIDS
_AIDTST4 Calculated variable for adults who have ever been tested for hiv. _AIDTST4 is derived from HIVTST7.
1 Yes Respondents who reported to having been tested for HIV. (HIVTST7=1)
2 No Respondents who did not report having been tested for HIV. (HIVTST7=2)
9 Don’t know /Not Sure/
Refused Respondents who reported they did not know if they had been tested for HIV, or those who
refused to answer if they had been tested for HIV. (HIVTST7=7,9)
. Not asked or missing Respondents with missing responses for HIVTST7. (HIVTST7=missing)
SAS Code: IF HIVTST7=1 THEN _AIDTST4=1;
ELSE IF HIVTST7=2 THEN _AIDTST4=2;
ELSE IF HIVTST7 IN (7,9) THEN _AIDTST4=9;
ELSE IF HIVTST7=. THEN _AIDTST4=.;
Section 15: Fruits & Vegetables
FTJUDA2_ Calculated variable for fruit juice intake in times per day. FTJUDA2_ converts the FRUITJU2
variable to a per day response. (Two implied decimal places)
0 -9999 Times per day
(two implied decimal places) Respondents reported intake of fruit juice per day (FRUITJU2 not equal to 777,999, or missing)
. Don’t know/Not Sure or
Refused/Missing Respondents who reported they didn´t know the number of times fruit juice was consumed per day, those who refused to answer, and those with missing responses
(FRUITJU2=777,999, or missing)
SAS Code: IF 100 < FRUITJU2 < 200 THEN FTJUDA2_=FRUITJU2- 100;
ELSE IF 200 < FRUITJU2 < 300 THEN
FTJUDA2_=(ROUND((FRUITJU2- 200)/7,0.01));
ELSE IF 300 < FRUITJU2 < 400 THEN FTJUDA2_=(ROUND((FRUITJU2- 300)/30,0.01));
ELSE IF FRUITJU2 = 555 THEN FTJUDA2_=0; ELSE IF FRUITJU2 = 300 THEN FTJUDA2_=0.02; ELSE IF FRUITJU2 IN (.,777,999) THEN FTJUDA2_=.;
** ROUND OFF **;
FTJUDA2_=round((FTJUDA2_*100),1);
Page 34 of 41 June 17, 2022
description of FRUTDA2_: Calculated Variables in the 2021 BRFSS Data File (continued)
Section 15: Fruits & Vegetables
FRUTDA2_ Calculated variable for fruit intake in times per day. FRUTDA2_ converts the FRUIT2 variable to a
per day response. (Two implied decimal places)
0 -9999 Times per day (two
implied decimal places) Respondents reported intake of fruit per day (FRUIT2 not equal to 777,999, or missing)
. Don’t know Not Sure or
Refused/Missing Respondents who reported they didn´t know the number of times fruit was consumed per day,
those who refused to answer, and those with missing respo nses (FRUIT2=777, 999, or missing)
SAS Code: IF 100 < FRUIT2 < 200 THEN FRUTDA2_=FRUIT2- 100;
ELSE IF 200 < FRUIT2 < 300 THEN
FRUTDA2_=(ROUND((FRUIT2- 200)/7,0.01));
ELSE IF 300 < FRUIT2 < 400 THEN FRUTDA2_=(ROUND((FRUIT2- 300)/30,0.01));
ELSE IF FRUIT2 = 555 THEN FRUTDA2_=0;
ELSE IF FRUIT2 = 300 THEN FRUTDA2_=0.02;
ELSE IF FRUIT2 IN (.,777,999) THEN FRUTDA2_=.;
** ROUND OFF **;
FRUTDA2_=round((FRUTDA2_*100),1);
Section 15: Fruits & Vegetables
GRENDA1_ Calculated variable for dark green vegetable intake in times per day. GRENDA1_ converts the
FVGREEN1 variable to a per day response (Two implied decimal places)
0 -9999 Times per day (two
implied decimal places) Respondents reported intake of dark green vegetables per day
(FVGREEN1 not equal to 777,999, or missing)
. Don’t know/Not Sure or
Refused/Missing Respondents who reported they didn´t know the number of times dark green vegetables were consumed per day, those who refused to answer, and those with missing responses (FVGREEN1=777,999, or missing)
SAS Code: IF 100 < FVGREEN1 < 200 THEN GRENDA1_=FVGREEN1- 100;
ELSE IF 200 < FVGREEN1 < 300 THEN
GRENDA1_=(ROUND((FVGREEN1- 200)/7,0.01));
ELSE IF 300 < FVGREEN1 < 400 THEN
GRENDA1_=(ROUND((FVGREEN1- 300)/30,0.01));
ELSE IF FVGREEN1 = 555 THEN GRENDA1_=0; ELSE IF FVGREEN1 = 300 THEN GRENDA1_=0.02;
ELSE IF FVGREEN1 IN (.,777,999) THEN GRENDA1_=.; ** ROUND OFF **;
GRENDA1_=round((GRENDA1_*100),1);
Page 35 of 41 June 17, 2022
description of GRENDA1_: Calculated Variables in the 2021 BRFSS Data File (continued)
Section 15: Fruits & Vegetables
FRUTDA2_ Calculated variable for fruit intake in times per day. FRUTDA2_ converts the FRUIT2 variable to a
per day response. (Two implied decimal places)
0 -9999 Times per day (two
implied decimal places) Respondents reported intake of fruit per day (FRUIT2 not equal to 777,999, or missing)
. Don’t know Not Sure or
Refused/Missing Respondents who reported they didn´t know the number of times fruit was consumed per day,
those who refused to answer, and those with missing respo nses (FRUIT2=777, 999, or missing)
SAS Code: IF 100 < FRUIT2 < 200 THEN FRUTDA2_=FRUIT2- 100;
ELSE IF 200 < FRUIT2 < 300 THEN
FRUTDA2_=(ROUND((FRUIT2- 200)/7,0.01));
ELSE IF 300 < FRUIT2 < 400 THEN FRUTDA2_=(ROUND((FRUIT2- 300)/30,0.01));
ELSE IF FRUIT2 = 555 THEN FRUTDA2_=0;
ELSE IF FRUIT2 = 300 THEN FRUTDA2_=0.02;
ELSE IF FRUIT2 IN (.,777,999) THEN FRUTDA2_=.;
** ROUND OFF **;
FRUTDA2_=round((FRUTDA2_*100),1);
Section 15: Fruits & Vegetables
GRENDA1_ Calculated variable for dark green vegetable intake in times per day. GRENDA1_ converts the
FVGREEN1 variable to a per day response (Two implied decimal places)
0 -9999 Times per day (two
implied decimal places) Respondents reported intake of dark green vegetables per day
(FVGREEN1 not equal to 777,999, or missing)
. Don’t know/Not Sure or
Refused/Missing Respondents who reported they didn´t know the number of times dark green vegetables were consumed per day, those who refused to answer, and those with missing responses (FVGREEN1=777,999, or missing)
SAS Code: IF 100 < FVGREEN1 < 200 THEN GRENDA1_=FVGREEN1- 100;
ELSE IF 200 < FVGREEN1 < 300 THEN
GRENDA1_=(ROUND((FVGREEN1- 200)/7,0.01));
ELSE IF 300 < FVGREEN1 < 400 THEN
GRENDA1_=(ROUND((FVGREEN1- 300)/30,0.01));
ELSE IF FVGREEN1 = 555 THEN GRENDA1_=0; ELSE IF FVGREEN1 = 300 THEN GRENDA1_=0.02;
ELSE IF FVGREEN1 IN (.,777,999) THEN GRENDA1_=.; ** ROUND OFF **;
GRENDA1_=round((GRENDA1_*100),1);
Page 35 of 41 June 17, 2022
description of FRNCHDA_: Calculated Variables in the 2021 BRFSS Data File (continued)
Section 15: Fruits & Vegetables
FRNCHDA_ Calculated variable for French -fry intake in times per day. FRNCHDA_ converts the FRENCHF1
variable to a per day response. (Two implied decimal places)
0 -9999 Times per day (two
implied decimal places) Respondents reported intake of French fries per day
(FRENCHF1 not equal to 777,999, or missing)
. Don’t know/Not Sure or
Refused/ Missing Respondents who reported they didn´t know the number of time French fries were consumed
per day, those who refused to answer, and those with missing responses
(FRENCHF 1=777, 999, or missing)
SAS Code: IF 100 < FRENCHF1 < 200 THEN FRNCHDA_=FRENCHF1- 100;
ELSE IF 200 < FRENCHF1 < 300 THEN
FRNCHDA_=(ROUND((FRENCHF1- 200)/7,0.01));
ELSE IF 300 < FRENCHF1 < 400 THEN
FRNCHDA_=(ROUND((FRENCHF1- 300)/30,0.01));
ELSE IF FRENCHF1 = 555 THEN FRNCHDA_=0; ELSE IF FRENCHF1 = 300 THEN FRNCHDA_=0.02;
ELSE IF FRENCHF1 IN (.,777,999) THEN FRNCHDA_=.;
** ROUND OFF **; FRNCHDA_=round((FRNCHDA_*100),1);
Section 15: Fruits & Vegetables
POTADA1_ Calculated variable for potato servings per day. POTADA1_ converts the POTATOE1 variable to a
per-day response.
0 -9999 Times per day Respondents reported servings of potatoes per day (POTATOE1 not equal to 777, 999, or
missing)
. Don’t know/Not Sure or
Refused/Missing Respondents who reported they didn´t know the quanti ty of potato servings consumed per day,
those who refused to answer, and those with missing responses (POTATOE1=777, 999, or missing)
SAS Code: IF 100 < POTATOE1 < 200 THEN POTADA1_=POTATOE1- 100;
ELSE IF 200 < POTATOE1 < 300 THEN
POTADA1_=(ROUND((POTATOE1- 200)/7,0.01));
ELSE IF 300 < POTATOE1 < 400 THEN POTADA1_=(ROUND((POTATOE1- 300)/30,0.01));
ELSE IF POTATOE1 = 555 THEN POTADA1_=0;
ELSE IF POTATOE1 = 300 THEN POTADA1_=0.02;
ELSE IF POTATOE1 IN (.,777,999) THEN POTADA1_=.;
** ROUND OFF **;
POTADA1_=round((POTADA1_*100),1);
Page 36 of 41 June 17, 2022
description of POTADA1_: Calculated Variables in the 2021 BRFSS Data File (continued)
Section 15: Fruits & Vegetables
FRNCHDA_ Calculated variable for French -fry intake in times per day. FRNCHDA_ converts the FRENCHF1
variable to a per day response. (Two implied decimal places)
0 -9999 Times per day (two
implied decimal places) Respondents reported intake of French fries per day
(FRENCHF1 not equal to 777,999, or missing)
. Don’t know/Not Sure or
Refused/ Missing Respondents who reported they didn´t know the number of time French fries were consumed
per day, those who refused to answer, and those with missing responses
(FRENCHF 1=777, 999, or missing)
SAS Code: IF 100 < FRENCHF1 < 200 THEN FRNCHDA_=FRENCHF1- 100;
ELSE IF 200 < FRENCHF1 < 300 THEN
FRNCHDA_=(ROUND((FRENCHF1- 200)/7,0.01));
ELSE IF 300 < FRENCHF1 < 400 THEN
FRNCHDA_=(ROUND((FRENCHF1- 300)/30,0.01));
ELSE IF FRENCHF1 = 555 THEN FRNCHDA_=0; ELSE IF FRENCHF1 = 300 THEN FRNCHDA_=0.02;
ELSE IF FRENCHF1 IN (.,777,999) THEN FRNCHDA_=.;
** ROUND OFF **; FRNCHDA_=round((FRNCHDA_*100),1);
Section 15: Fruits & Vegetables
POTADA1_ Calculated variable for potato servings per day. POTADA1_ converts the POTATOE1 variable to a
per-day response.
0 -9999 Times per day Respondents reported servings of potatoes per day (POTATOE1 not equal to 777, 999, or
missing)
. Don’t know/Not Sure or
Refused/Missing Respondents who reported they didn´t know the quanti ty of potato servings consumed per day,
those who refused to answer, and those with missing responses (POTATOE1=777, 999, or missing)
SAS Code: IF 100 < POTATOE1 < 200 THEN POTADA1_=POTATOE1- 100;
ELSE IF 200 < POTATOE1 < 300 THEN
POTADA1_=(ROUND((POTATOE1- 200)/7,0.01));
ELSE IF 300 < POTATOE1 < 400 THEN POTADA1_=(ROUND((POTATOE1- 300)/30,0.01));
ELSE IF POTATOE1 = 555 THEN POTADA1_=0;
ELSE IF POTATOE1 = 300 THEN POTADA1_=0.02;
ELSE IF POTATOE1 IN (.,777,999) THEN POTADA1_=.;
** ROUND OFF **;
POTADA1_=round((POTADA1_*100),1);
Page 36 of 41 June 17, 2022
description of VEGEDA2_: Calculated Variables in the 2021 BRFSS Data File (continued)
Section 15: Fruits & Vegetables
VEGEDA2_ Calculated variable for other vegetable intake in times per day. VEGEDA2_ converts the VEGETAB2
variable to a per day response. (Two implied decimal places)
0 -9999 Times per day (two
implied decimal places) Respondents reported intake of other vegetables per day (VEGETAB2 not equal to 777, 999, or
missing)
. Don’t know/Not Sure or
Refused/Missing Respondents who reported they didn´t know the number of times other vegetables were
consumed per day, those who refused to answer, and those with missing responses
(VEGETAB2=777, 999, or missing)
SAS Code: IF 100 < VEGETAB2 < 200 THEN VEGEDA2_=VEGETAB2- 100;
ELSE IF 200 < VEGETAB2 < 300 THEN
VEGEDA2_=(ROUND((VEGETAB2- 200)/7,0.01));
ELSE IF 300 < VEGETAB2 < 400 THEN
VEGEDA2_=(ROUND((VEGETAB2- 300)/30,0.01));
ELSE IF VEGETAB2 = 555 THEN VEGEDA2_=0; ELSE IF VEGETAB2 = 300 THEN VEGEDA2_=0.02;
ELSE IF VEGETAB2 IN (.,777,999) THEN VEGEDA2_=.;
** ROUND OFF **;
VEGEDA2_=round((VEGEDA2_*100),1);
Section 15: Fruits & Vegetables
_MISFRT1 Calculated variable for the number of missing fruit responses. _MISFRT1 is derived from
MFTJUDA2_ and MFRUTDA2_
0 No missing fruit
responses Respondents with no missing fruit responses
1 - 2 Has 1 or 2 missing fruit
responses Respondents with missing fruit responses
SAS Code: IF FTJUDA2_=. THEN MFTJUDA2_=1; ELSE MFTJUDA2_=0; IF FRUTDA2_=. THEN MFRUTDA2_=1; ELSE MFRUTDA2_=0;
_MISFRT1=SUM(MFTJUDA2_, MFRUTDA2_);
Page 37 of 41 June 17, 2022
description of _MISFRT1: Calculated Variables in the 2021 BRFSS Data File (continued)
Section 15: Fruits & Vegetables
VEGEDA2_ Calculated variable for other vegetable intake in times per day. VEGEDA2_ converts the VEGETAB2
variable to a per day response. (Two implied decimal places)
0 -9999 Times per day (two
implied decimal places) Respondents reported intake of other vegetables per day (VEGETAB2 not equal to 777, 999, or
missing)
. Don’t know/Not Sure or
Refused/Missing Respondents who reported they didn´t know the number of times other vegetables were
consumed per day, those who refused to answer, and those with missing responses
(VEGETAB2=777, 999, or missing)
SAS Code: IF 100 < VEGETAB2 < 200 THEN VEGEDA2_=VEGETAB2- 100;
ELSE IF 200 < VEGETAB2 < 300 THEN
VEGEDA2_=(ROUND((VEGETAB2- 200)/7,0.01));
ELSE IF 300 < VEGETAB2 < 400 THEN
VEGEDA2_=(ROUND((VEGETAB2- 300)/30,0.01));
ELSE IF VEGETAB2 = 555 THEN VEGEDA2_=0; ELSE IF VEGETAB2 = 300 THEN VEGEDA2_=0.02;
ELSE IF VEGETAB2 IN (.,777,999) THEN VEGEDA2_=.;
** ROUND OFF **;
VEGEDA2_=round((VEGEDA2_*100),1);
Section 15: Fruits & Vegetables
_MISFRT1 Calculated variable for the number of missing fruit responses. _MISFRT1 is derived from
MFTJUDA2_ and MFRUTDA2_
0 No missing fruit
responses Respondents with no missing fruit responses
1 - 2 Has 1 or 2 missing fruit
responses Respondents with missing fruit responses
SAS Code: IF FTJUDA2_=. THEN MFTJUDA2_=1; ELSE MFTJUDA2_=0; IF FRUTDA2_=. THEN MFRUTDA2_=1; ELSE MFRUTDA2_=0;
_MISFRT1=SUM(MFTJUDA2_, MFRUTDA2_);
Page 37 of 41 June 17, 2022
description of _MISVEG1: Calculated Variables in the 2021 BRFSS Data File (continued)
Section 15: Fruits & Vegetables
_MISVEG1    Calculated variable for the number of missing vegetable responses. _MISVEG1 is derived from
MGRENDA1_, MFRNCHDA_, MPOTADA1_ and MVEGEDA2_.
0 No missing vegetable
responses Respondents with no missing vegetable responses
1 - 4 Has 1, 2, 3, or 4 missing
vegetable responses Respondents with missing vegetable responses
SAS Code: IF GRENDA1_=. THEN MGRENDA1_=1; ELSE MGRENDA1_=0;
IF FRNCHDA_=. THEN MFRNCHDA_=1;
ELSE MFRNCHDA_=0;
IF POTADA1_=. THEN MPOTADA1_=1;
ELSE MPOTADA1_=0; IF VEGEDA2_=. THEN MVEGEDA2_=1;
ELSE MVEGEDA2_=0;
_MISVEG1=SUM(MGRENDA1_, MFRNCHDA_, MPOTADA1_, MVEGEDA2_);
Section 15: Fruits & Vegetables
_FRTRES1 Calculated variable for missing any fruit responses. _FRTRES1 is derived from _MISFRT1
0 Not Included –Missing
Fruit Responses Respondents with a missing value for one of the fruit variables (1< /=_MISFRT1< /=2)
1 Included –Not Missing
Fruit Responses Respondents with no missing fruit variables (_MISFRT1=0)
SAS Code: _FRTRES1=0; IF 1<=_MISFRT1<=2 THEN _FRTRES1=0;
ELSE IF _MISFRT1=0 THEN _FRTRES1=1;
Section 15: Fruits & Vegetables
_VEGRES1    Calculated variable for missing any vegetable responses.
_VEGRES1 is derived from GRENDA1_, FRNCHDA_ , POTADA1_ , VEGEDA1_ and _

In [24]:
pd.set_option('display.max_columns', None)

In [25]:
#make a dataframe by combining nutrition columns with health status, health days columns  
nutrition_cols = nutrition_cols + ['GENHLTH','PHYSHLTH','POORHLTH','_RFHLTH','_PHYS14D','_MENT14D']
df_nutrition = model_build_df[nutrition_cols]

In [26]:
df_nutrition.head()

,FRUIT2,FRUITJU2,FVGREEN1,FRENCHF1,VEGETAB2,FTJUDA2_,FRUTDA2_,GRENDA1_,FRNCHDA_,POTADA1_,VEGEDA2_,_MISFRT1,_MISVEG1,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1,GENHLTH,PHYSHLTH,POORHLTH,_RFHLTH,_PHYS14D,_MENT14D
0,207.0,307.0,307.0,302.0,101.0,2.300000e+01,100.0,23.0,7.0,23.0,1.000000e+02,5.397605e-79,5.397605e-79,1.0,1.0,123.0,153.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,1.0,88.0,NaN,1.0,1.0,1.0
1,312.0,101.0,101.0,101.0,555.0,1.000000e+02,40.0,100.0,100.0,100.0,5.397605e-79,5.397605e-79,5.397605e-79,1.0,1.0,140.0,300.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,4.0,17.0,28.0,2.0,3.0,3.0
2,101.0,300.0,201.0,104.0,207.0,2.000000e+00,100.0,14.0,400.0,43.0,1.000000e+02,5.397605e-79,5.397605e-79,1.0,1.0,102.0,557.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,2.0,88.0,NaN,1.0,1.0,1.0
3,102.0,555.0,203.0,302.0,101.0,5.397605e-79,200.0,43.0,7.0,14.0,1.000000e+02,5.397605e-79,5.397605e-79,1.0,1.0,200.0,164.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,2.0,88.0,NaN,1.0,1.0,1.0
4,102.0,555.0,204.0,301.0,101.0,5.397605e-79,200.0,57.0,3.0,43.0,1.000000e+02,5.397605e-79,5.397605e-79,1.0,1.0,200.0,203.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,2.0,88.0,NaN,1.0,1.0,1.0

In [27]:
plt.figure(figsize=(15,10))
ax = sns.heatmap(df_nutrition.corr(),cmap='viridis',annot=True, annot_kws={"size": 8})

### Looking at the data we could use the calculated Total calcualted variables per day for the fruits and vegetables to see its relation to general health

In [28]:
#_FRUTSU1=(FTJUDA2_/100) + (FRUTDA2_/100); 
#_FRUTSU1=round((_FRUTSU1*100),1); 

#WE CAN MAKE A TOTAL FRUITS PER DAY COLUMN 
df_nutrition['Total_fruits_daily'] = df_nutrition['_FRUTSU1'].apply(lambda x: round(x/100,1) )
df_nutrition.head()

,FRUIT2,FRUITJU2,FVGREEN1,FRENCHF1,VEGETAB2,FTJUDA2_,FRUTDA2_,GRENDA1_,FRNCHDA_,POTADA1_,VEGEDA2_,_MISFRT1,_MISVEG1,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1,GENHLTH,PHYSHLTH,POORHLTH,_RFHLTH,_PHYS14D,_MENT14D,Total_fruits_daily
0,207.0,307.0,307.0,302.0,101.0,2.300000e+01,100.0,23.0,7.0,23.0,1.000000e+02,5.397605e-79,5.397605e-79,1.0,1.0,123.0,153.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,1.0,88.0,NaN,1.0,1.0,1.0,1.2
1,312.0,101.0,101.0,101.0,555.0,1.000000e+02,40.0,100.0,100.0,100.0,5.397605e-79,5.397605e-79,5.397605e-79,1.0,1.0,140.0,300.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,4.0,17.0,28.0,2.0,3.0,3.0,1.4
2,101.0,300.0,201.0,104.0,207.0,2.000000e+00,100.0,14.0,400.0,43.0,1.000000e+02,5.397605e-79,5.397605e-79,1.0,1.0,102.0,557.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,2.0,88.0,NaN,1.0,1.0,1.0,1.0
3,102.0,555.0,203.0,302.0,101.0,5.397605e-79,200.0,43.0,7.0,14.0,1.000000e+02,5.397605e-79,5.397605e-79,1.0,1.0,200.0,164.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,2.0,88.0,NaN,1.0,1.0,1.0,2.0
4,102.0,555.0,204.0,301.0,101.0,5.397605e-79,200.0,57.0,3.0,43.0,1.000000e+02,5.397605e-79,5.397605e-79,1.0,1.0,200.0,203.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,2.0,88.0,NaN,1.0,1.0,1.0,2.0

In [29]:
df_nutrition['Total_fruits_daily'].value_counts().head(20)

1.0    22835
2.0    17404
1.1     7767
3.0     7618
0.4     7465
0.3     6924
0.6     6785
0.7     6678
0.1     5975
1.3     4205
0.0     3906
0.5     3678
0.2     3529
1.4     3273
2.1     3005
0.9     2714
4.0     2642
0.8     2023
2.3     1427
1.2     1303
Name: Total_fruits_daily, dtype: int64

In [30]:
#_VEGESU1=(GRENDA1_/100) + (FRNCHDA_/100) + (POTADA1_/100) + 
#(VEGEDA2_/100); 
#_VEGESU1=round((_VEGESU1*100),1); 

#WE CAN MAKE A TOTAL VEGETABLES PER DAY COLUMN 
df_nutrition['Total_vegetables_daily'] = df_nutrition['_VEGESU1'].apply(lambda x: round(x/100,1))
df_nutrition.head()

,FRUIT2,FRUITJU2,FVGREEN1,FRENCHF1,VEGETAB2,FTJUDA2_,FRUTDA2_,GRENDA1_,FRNCHDA_,POTADA1_,VEGEDA2_,_MISFRT1,_MISVEG1,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1,GENHLTH,PHYSHLTH,POORHLTH,_RFHLTH,_PHYS14D,_MENT14D,Total_fruits_daily,Total_vegetables_daily
0,207.0,307.0,307.0,302.0,101.0,2.300000e+01,100.0,23.0,7.0,23.0,1.000000e+02,5.397605e-79,5.397605e-79,1.0,1.0,123.0,153.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,1.0,88.0,NaN,1.0,1.0,1.0,1.2,1.5
1,312.0,101.0,101.0,101.0,555.0,1.000000e+02,40.0,100.0,100.0,100.0,5.397605e-79,5.397605e-79,5.397605e-79,1.0,1.0,140.0,300.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,4.0,17.0,28.0,2.0,3.0,3.0,1.4,3.0
2,101.0,300.0,201.0,104.0,207.0,2.000000e+00,100.0,14.0,400.0,43.0,1.000000e+02,5.397605e-79,5.397605e-79,1.0,1.0,102.0,557.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,2.0,88.0,NaN,1.0,1.0,1.0,1.0,5.6
3,102.0,555.0,203.0,302.0,101.0,5.397605e-79,200.0,43.0,7.0,14.0,1.000000e+02,5.397605e-79,5.397605e-79,1.0,1.0,200.0,164.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,2.0,88.0,NaN,1.0,1.0,1.0,2.0,1.6
4,102.0,555.0,204.0,301.0,101.0,5.397605e-79,200.0,57.0,3.0,43.0,1.000000e+02,5.397605e-79,5.397605e-79,1.0,1.0,200.0,203.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,2.0,88.0,NaN,1.0,1.0,1.0,2.0,2.0

In [31]:
df_nutrition['Total_vegetables_daily'].value_counts().head(20)

1.6    7680
1.4    7393
1.7    6581
1.3    6551
1.1    6093
2.0    5821
2.1    5538
1.9    5289
1.0    5095
1.2    4674
2.3    4418
0.9    4336
1.5    4328
0.7    3612
0.8    3474
2.4    3325
0.6    3285
2.2    3247
1.8    2966
2.6    2859
Name: Total_vegetables_daily, dtype: int64

In [32]:
df_nutrition.describe([0.25,0.5,0.75,0.99]).T

,count,mean,std,min,25%,50%,75%,99%,max
FRUIT2,138991.0,191.060939,136.489549,1.010000e+02,1.010000e+02,130.0,205.0,777.00,999.0
FRUITJU2,138378.0,372.546402,186.383821,1.010000e+02,2.020000e+02,304.0,555.0,777.00,999.0
FVGREEN1,137940.0,241.202472,135.315096,1.010000e+02,2.010000e+02,203.0,302.0,777.00,999.0
FRENCHF1,137525.0,304.432060,137.809316,1.010000e+02,2.020000e+02,301.0,305.0,777.00,999.0
VEGETAB2,136657.0,200.892263,131.049975,1.010000e+02,1.010000e+02,202.0,206.0,777.00,999.0
FTJUDA2_,135414.0,48.547447,406.925062,5.397605e-79,5.397605e-79,3.0,30.0,300.00,9900.0
FRUTDA2_,135801.0,144.549679,562.784667,5.397605e-79,4.300000e+01,100.0,100.0,700.00,9900.0
GRENDA1_,135552.0,89.389577,539.784914,5.397605e-79,1.400000e+01,43.0,71.0,500.00,9900.0
FRNCHDA_,135224.0,25.408234,180.400523,5.397605e-79,3.000000e+00,14.0,29.0,100.00,9900.0
POTADA1_,133965.0,28.285298,193.938916,5.397605e-79,7.000000e+00,14.0,29.0,143.00,9900.0
VEGEDA2_,133962.0,150.579948,710.704768,5.397605e-79,4.300000e+01,93.0,100.0,700.00,9900.0
_FRUTSU1,133297.0,192.865541,779.534701,5.397605e-79,5.700000e+01,100.0,200.0,900.00,19800.0
_VEGESU1,130078.0,291.512293,1158.727986,5.397605e-79,1.140000e+02,166.0,229.0,2830.46,39600.0
PHYSHLTH,151859.0,63.481163,36.263721,1.000000e+00,2.500000e+01,88.0,88.0,88.00,99.0
POORHLTH,81991.0,53.640021,38.807124,1.000000e+00,1.000000e+01,88.0,88.0,88.00,99.0
Total_fruits_daily,133297.0,1.925653,7.795376,0.000000e+00,6.000000e-01,1.0,2.0,9.00,198.0
Total_vegetables_daily,130078.0,2.915078,11.587208,0.000000e+00,1.100000e+00,1.7,2.3,28.30,396.0

In [33]:
#lets filter data to remove outliers 
filtered_df = df_nutrition[(df_nutrition['Total_fruits_daily'] <= 9.0) & 
                           (df_nutrition['Total_vegetables_daily'] <= 26.6396)]

In [34]:
len(filtered_df)

125295

In [35]:
#Distribution of Total_fruits_daily
sns.histplot(x=filtered_df['Total_vegetables_daily'])

In [36]:
#Distribution of Total_vegetables_daily
sns.histplot(x=filtered_df['Total_fruits_daily'])

In [37]:
#create a BOX PLOT FOR _RFHLTH Vs Total fruits 
plt.figure(figsize=(5,5))
sns.set_style('darkgrid')
sns.boxplot(data=filtered_df, x='Total_fruits_daily', y='_RFHLTH')

In [38]:
#CREATE A SCATTERPLOT FOR PHYSHLTH(Number of days of poor physical health) Vs Total fruits consued daily
plt.figure(figsize=(5,5))
sns.set_style('darkgrid')
sns.boxplot(data=filtered_df, y='Total_fruits_daily', x='_PHYS14D')

In [39]:
#create a BOX PLOT FOR _RFHLTH Vs Total_vegetables_daily
plt.figure(figsize=(5,5))
sns.set_style('darkgrid')
sns.boxplot(data=filtered_df, x='Total_vegetables_daily', y='_RFHLTH')

In [40]:
#Lets create a pivot table showing the mean fruits and vegetables consumed per day for each _RFHLTH group 

pivot_result = pd.pivot_table(filtered_df, values=['Total_fruits_daily','Total_vegetables_daily'],index='_RFHLTH', aggfunc='mean')

#Only looking at those who reported Good health vs those that reported poor/bad health
pivot_result[0:2]

         Total_fruits_daily  Total_vegetables_daily
_RFHLTH
1.0                1.360719                1.961105
2.0                1.258927                1.728446

- This analysis shows that those who reported good or better health had a higher mean daily intake of fruits and vegetables. Not a significant difference.

### Apply association rules between eating fruits and vegetables and good percieved health

In [41]:
#!pip install mlxtend

In [42]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

# Assuming you already have a DataFrame called filtered_df with 'Total_fruits_daily', 'Total_vegetables_daily' and '_RFHLTH' columns

# Binning Total_fruits_daily
fruit_bins = [0, 2, 4, 10]  # Adjust bins as per your data distribution for fruits
fruit_labels = ['Low_Fruit', 'Medium_Fruit', 'High_Fruit']
filtered_df['Fruit_Intake_Binned'] = pd.cut(filtered_df['Total_fruits_daily'], bins=fruit_bins, labels=fruit_labels, include_lowest=True)

# Binning Total_vegetables_daily
veg_bins = [0, 8, 16, 26]  # Adjust bins as per your data distribution for vegetables
veg_labels = ['Low_Veg', 'Medium_Veg', 'High_Veg']
filtered_df['Veg_Intake_Binned'] = pd.cut(filtered_df['Total_vegetables_daily'], bins=veg_bins, labels=veg_labels, include_lowest=True)

# Convert to the binary format
filtered_df_binary = pd.get_dummies(filtered_df[['Fruit_Intake_Binned', 'Veg_Intake_Binned', '_RFHLTH']])

# Apply Apriori to find frequent itemsets
frequent_itemsets = apriori(filtered_df_binary, min_support=0.1, use_colnames=True)

# Generate Association Rules
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)
print(rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']])

                                          antecedents  \
0                         (Veg_Intake_Binned_Low_Veg)
1                     (Fruit_Intake_Binned_Low_Fruit)
2                                       (_RFHLTH_2.0)
3                     (Fruit_Intake_Binned_Low_Fruit)
4                  (Fruit_Intake_Binned_Medium_Fruit)
5                                       (_RFHLTH_1.0)
6                         (Veg_Intake_Binned_Low_Veg)
7                                       (_RFHLTH_2.0)
8        (_RFHLTH_1.0, Fruit_Intake_Binned_Low_Fruit)
9                         (Veg_Intake_Binned_Low_Veg)
10           (Veg_Intake_Binned_Low_Veg, _RFHLTH_2.0)
11  (Veg_Intake_Binned_Low_Veg, Fruit_Intake_Binne...
12       (_RFHLTH_2.0, Fruit_Intake_Binned_Low_Fruit)
13                        (Veg_Intake_Binned_Low_Veg)
14                                      (_RFHLTH_2.0)
15                    (Fruit_Intake_Binned_Low_Fruit)
16  (Veg_Intake_Binned_Low_Veg, Fruit_Intake_Binne...
17           (Veg_Intake_Binned_Low_Veg, _RFHLTH_1.0)
18                 (Fruit_Intake_Binned_Medium_Fruit)
19                                      (_RFHLTH_1.0)

                                          consequents   support  confidence  \
0                     (Fruit_Intake_Binned_Low_Fruit)  0.827383    0.834812
1                         (Veg_Intake_Binned_Low_Veg)  0.827383    0.994522
2                     (Fruit_Intake_Binned_Low_Fruit)  0.125831    0.848592
3                                       (_RFHLTH_2.0)  0.125831    0.151250
4                                       (_RFHLTH_1.0)  0.125847    0.869048
5                  (Fruit_Intake_Binned_Medium_Fruit)  0.125847    0.148051
6                                       (_RFHLTH_2.0)  0.147101    0.148422
7                         (Veg_Intake_Binned_Low_Veg)  0.147101    0.992034
8                         (Veg_Intake_Binned_Low_Veg)  0.700754    0.994371
9        (_RFHLTH_1.0, Fruit_Intake_Binned_Low_Fruit)  0.700754    0.707046
10                    (Fruit_Intake_Binned_Low_Fruit)  0.125240    0.851392
11                                      (_RFHLTH_2.0)  0.125240    0.151369
12                        (Veg_Intake_Binned_Low_Veg)  0.125240    0.995306
13       (_RFHLTH_2.0, Fruit_Intake_Binned_Low_Fruit)  0.125240    0.126365
14  (Veg_Intake_Binned_Low_Veg, Fruit_Intake_Binne...  0.125240    0.844610
15           (Veg_Intake_Binned_Low_Veg, _RFHLTH_2.0)  0.125240    0.150540
16                                      (_RFHLTH_1.0)  0.124331    0.869066
17                 (Fruit_Intake_Binned_Medium_Fruit)  0.124331    0.147606
18           (Veg_Intake_Binned_Low_Veg, _RFHLTH_1.0)  0.124331    0.858576
19  (Veg_Intake_Binned_Low_Veg, Fruit_Intake_Binne...  0.124331    0.146267

        lift
0   1.003452
1   1.003452
2   1.020016
3   1.020016
4   1.022378
5   1.022378
6   1.000941
7   1.000941
8   1.003300
9   1.003300
10  1.023380
11  1.020820
12  1.004243
13  1.004243
14  1.020820
15  1.023380
16  1.022399
17  1.019304
18  1.019304
19  1.022399

/Users/obinnadinneya/anaconda3/lib/python3.11/site-packages/mlxtend/frequent_patterns/fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

What is the role of access to healthcare,marriage status, Education and income in predicting health outcomes?

In [43]:
#Get the columns related to access to healthcare,

In [44]:
#make a dataframe by combining acess to healthcare columns with health status, health days columns

In [45]:
#Do some EDA analysis and correlation analysis to see if there are relationships btw acess to healthcare and percieved
#health

In [46]:
#Apply association rules between acess to healthcare and good percieved health

Can lifestyle factors, including smoking and alcohol consumption, 
predict health risks and outcomes?

In [47]:
#Get the columns related to alcohol consumption and smoking

In [48]:
#Get the columns related to exercise

How predictable are chronic diseases, such as diabetes and hypertension, through a combined analysis of 
lifestyle factors and genetic predisposition?

What is the significant contribution of mental health factors, such as stress, anxiety, 
and depression, to health outcomes, and what pathways influence overall well-being?