In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd 
import seaborn as sns 
import statistics
import numpy as np
import matplotlib.pyplot as plt

In [3]:
from ydata_profiling import ProfileReport

In [4]:
%matplotlib inline

In [5]:
modeldf2019 = pd.read_csv('mydata/MMSA2019.csv',encoding='latin-1',index_col=[0])
modeldf2021 = pd.read_csv('mydata/MMSA2021.csv',encoding='latin-1',index_col=[0])

In [6]:
#pd.set_option('display.max_columns', None)

In [7]:
pd.set_option('display.max_info_columns', 1000)
pd.set_option('display.max_info_rows', 1000000)

In [8]:
import io
buffer = io.StringIO()
modeldf2019.info(buf=buffer)
info_str = buffer.getvalue()
print(info_str)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210771 entries, 1 to 210771
Data columns (total 179 columns):
 #    Column    Non-Null Count   Dtype
---   ------    --------------   -----
 0    DISPCODE  210771 non-null  int64
 1    STATERE1  71738 non-null   float64
 2    CELPHONE  71738 non-null   float64
 3    LADULT1   71738 non-null   float64
 4    COLGSEX   21 non-null      float64
 5    LANDSEX   30365 non-null   float64
 6    RESPSLCT  36285 non-null   float64
 7    SAFETIME  139033 non-null  float64
 8    CADULT1   139033 non-null  float64
 9    CELLSEX   139026 non-null  float64
 10   HHADULT   139028 non-null  float64
 11   SEXVAR    210771 non-null  int64
 12   GENHLTH   210753 non-null  float64
 13   PHYSHLTH  210750 non-null  float64
 14   MENTHLTH  210761 non-null  float64
 15   POORHLTH  116171 non-null  float64
 16   HLTHPLN1  210764 non-null  float64
 17   PERSDOC2  210765 non-null  float64
 18   MEDCOST   210765 non-null  float64
 19   CHECKUP1  210763 non-null  float64
 20   BPHIGH4   210767 non-null  float64
 21   BPMEDS    81278 non-null   float64
 22   CHOLCHK2  210756 non-null  float64
 23   TOLDHI2   199248 non-null  float64
 24   CHOLMED2  71318 non-null   float64
 25   CVDINFR4  210763 non-null  float64
 26   CVDCRHD4  210764 non-null  float64
 27   CVDSTRK3  210762 non-null  float64
 28   ASTHMA3   210764 non-null  float64
 29   ASTHNOW   30079 non-null   float64
 30   CHCSCNCR  210764 non-null  float64
 31   CHCOCNCR  210763 non-null  float64
 32   CHCCOPD2  210764 non-null  float64
 33   ADDEPEV3  210763 non-null  float64
 34   CHCKDNY2  210763 non-null  float64
 35   DIABETE4  210764 non-null  float64
 36   DIABAGE3  27005 non-null   float64
 37   HAVARTH4  210763 non-null  float64
 38   ARTHEXER  65862 non-null   float64
 39   ARTHEDU   65861 non-null   float64
 40   LMTJOIN3  65860 non-null   float64
 41   ARTHDIS2  65858 non-null   float64
 42   JOINPAI2  65861 non-null   float64
 43   MARITAL   210738 non-null  float64
 44   EDUCA     210751 non-null  float64
 45   RENTHOM1  210752 non-null  float64
 46   NUMHHOL3  71164 non-null   float64
 47   NUMPHON3  18087 non-null   float64
 48   CPDEMO1B  210050 non-null  float64
 49   VETERAN3  210048 non-null  float64
 50   EMPLOY1   209237 non-null  float64
 51   CHILDREN  208217 non-null  float64
 52   INCOME2   207109 non-null  float64
 53   WEIGHT2   206101 non-null  float64
 54   HEIGHT3   205664 non-null  float64
 55   PREGNANT  39341 non-null   float64
 56   DEAF      204806 non-null  float64
 57   BLIND     204389 non-null  float64
 58   DECIDE    203929 non-null  float64
 59   DIFFWALK  203483 non-null  float64
 60   DIFFDRES  203174 non-null  float64
 61   DIFFALON  202764 non-null  float64
 62   SMOKE100  202219 non-null  float64
 63   SMOKDAY2  80400 non-null   float64
 64   STOPSMK2  25363 non-null   float64
 65   LASTSMK2  54821 non-null   float64
 66   USENOW3   201827 non-null  float64
 67   ALCDAY5   200943 non-null  float64
 68   AVEDRNK3  105524 non-null  float64
 69   DRNK3GE5  105156 non-null  float64
 70   MAXDRNKS  105041 non-null  float64
 71   EXERANY2  199577 non-null  float64
 72   EXRACT11  148337 non-null  float64
 73   EXEROFT1  146365 non-null  float64
 74   EXERHMM1  146023 non-null  float64
 75   EXRACT21  146141 non-null  float64
 76   EXEROFT2  95731 non-null   float64
 77   EXERHMM2  95548 non-null   float64
 78   STRENGTH  196295 non-null  float64
 79   FRUIT2    194221 non-null  float64
 80   FRUITJU2  193763 non-null  float64
 81   FVGREEN1  193179 non-null  float64
 82   FRENCHF1  192939 non-null  float64
 83   POTATOE1  192422 non-null  float64
 84   VEGETAB2  191454 non-null  float64
 85   FLUSHOT7  191457 non-null  float64
 86   FLSHTMY3  97045 non-null   float64
 87   TETANUS1  185254 non-null  float64
 88   PNEUVAC4  190850 non-null  float64
 89   HIVTST7   189470 non-null  float64
 90   HIVTSTD3  68376 non-null   float64
 91   HIVRISK5  188826 non-null  float64
 92   _STSTR    210771 non-null  int64
 93   _IMPSEX   210771 non-null  int64
 94   CAGEG     25097 non-null   float64
 95   _RFHLTH   210771 non-null  int64
 96   _PHYS14D  210771 non-null  int64
 97   _MENT14D  210771 non-null  int64
 98   _HCVU651  210771 non-null  int64
 99   _RFHYPE5  210771 non-null  int64
 100  _CHOLCH2  210771 non-null  int64
 101  _RFCHOL2  186935 non-null  float64
 102  _MICHD    208796 non-null  float64
 103  _LTASTH1  210771 non-null  int64
 104  _CASTHM1  210771 non-null  int64
 105  _ASTHMS1  210771 non-null  int64
 106  _DRDXAR2  209497 non-null  float64
 107  _LMTACT2  209497 non-null  float64
 108  _LMTWRK2  209497 non-null  float64
 109  _PRACE1   210753 non-null  float64
 110  _MRACE1   210753 non-null  float64
 111  _HISPANC  210771 non-null  int64
 112  _RACE     210769 non-null  float64
 113  _RACEG21  210769 non-null  float64
 114  _RACEGR3  210769 non-null  float64
 115  _SEX      210771 non-null  int64
 116  _AGEG5YR  210771 non-null  int64
 117  _AGE65YR  210771 non-null  int64
 118  _AGE80    210771 non-null  int64
 119  _AGE_G    210771 non-null  int64
 120  WTKG3     194942 non-null  float64
 121  _BMI5     191325 non-null  float64
 122  _BMI5CAT  191325 non-null  float64
 123  _RFBMI5   210771 non-null  int64
 124  _EDUCAG   210771 non-null  int64
 125  _INCOMG   210771 non-null  int64
 126  _SMOKER3  210771 non-null  int64
 127  _RFSMOK3  210771 non-null  int64
 128  DRNKANY5  210771 non-null  int64
 129  _RFBING5  210771 non-null  int64
 130  _DRNKWK1  210771 non-null  int64
 131  _RFDRHV7  210771 non-null  int64
 132  _TOTINDA  210771 non-null  int64
 133  MAXVO21_  210771 non-null  int64
 134  FC601_    210771 non-null  int64
 135  ACTIN12_  145198 non-null  float64
 136  ACTIN22_  141403 non-null  float64
 137  _MINAC11  141064 non-null  float64
 138  _MINAC21  139789 non-null  float64
 139  PAMISS2_  210771 non-null  int64
 140  PAMIN12_  138927 non-null  float64
 141  PAMIN22_  137682 non-null  float64
 142  PA2MIN_   143178 non-null  float64
 143  PAVIG12_  142630 non-null  float64
 144  PAVIG22_  139485 non-null  float64
 145  PA2VIGM_  144446 non-null  float64
 146  _PACAT2   210771 non-null  int64
 147  _PAINDX2  210771 non-null  int64
 148  _PA150R3  210771 non-null  int64
 149  _PA300R3  210771 non-null  int64
 150  _PA30022  210771 non-null  int64
 151  _PASTRNG  210771 non-null  int64
 152  _PAREC2   210771 non-null  int64
 153  _PASTAE2  210771 non-null  int64
 154  FTJUDA2_  190541 non-null  float64
 155  FRUTDA2_  190466 non-null  float64
 156  GRENDA1_  190418 non-null  float64
 157  FRNCHDA_  190371 non-null  float64
 158  POTADA1_  188706 non-null  float64
 159  VEGEDA2_  187997 non-null  float64
 160  _MISFRT1  210771 non-null  int64
 161  _MISVEG1  210771 non-null  int64
 162  _FRTRES1  210771 non-null  int64
 163  _VEGRES1  210771 non-null  int64
 164  _FRUTSU1  187652 non-null  float64
 165  _VEGESU1  183250 non-null  float64
 166  _FRTLT1A  210771 non-null  int64
 167  _VEGLT1A  210771 non-null  int64
 168  _FRT16A   210771 non-null  int64
 169  _VEG23A   210771 non-null  int64
 170  _FRUITE1  210771 non-null  int64
 171  _VEGETE1  210771 non-null  int64
 172  _FLSHOT7  76127 non-null   float64
 173  _PNEUMO3  76127 non-null   float64
 174  _AIDTST4  189470 non-null  float64
 175  _MMSA     210771 non-null  int64
 176  _MMSAWT   210771 non-null  float64
 177  SEQNO     210771 non-null  int64
 178  MMSANAME  210771 non-null  object
dtypes: float64(126), int64(52), object(1)
memory usage: 289.4+ MB

In [9]:
buffer = io.StringIO()
modeldf2021.info(buf=buffer)
info_str = buffer.getvalue()
print(info_str)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 227792 entries, 1 to 227792
Data columns (total 152 columns):
 #    Column    Non-Null Count   Dtype
---   ------    --------------   -----
 0    DISPCODE  227792 non-null  int64
 1    STATERE1  55524 non-null   float64
 2    CELPHON1  55524 non-null   float64
 3    LADULT1   55524 non-null   float64
 4    COLGSEX   18 non-null      float64
 5    LANDSEX   23345 non-null   float64
 6    RESPSLCT  30824 non-null   float64
 7    SAFETIME  172268 non-null  float64
 8    CADULT1   172268 non-null  float64
 9    CELLSEX   172267 non-null  float64
 10   HHADULT   172267 non-null  float64
 11   SEXVAR    227792 non-null  int64
 12   GENHLTH   227790 non-null  float64
 13   PHYSHLTH  227790 non-null  float64
 14   MENTHLTH  227792 non-null  int64
 15   POORHLTH  122851 non-null  float64
 16   PRIMINSR  227791 non-null  float64
 17   PERSDOC3  227792 non-null  int64
 18   MEDCOST1  227791 non-null  float64
 19   CHECKUP1  227792 non-null  int64
 20   EXERANY2  227792 non-null  int64
 21   BPHIGH6   227792 non-null  int64
 22   BPMEDS    84782 non-null   float64
 23   CHOLCHK3  227792 non-null  int64
 24   TOLDHI3   197943 non-null  float64
 25   CHOLMED3  197662 non-null  float64
 26   CVDINFR4  227792 non-null  int64
 27   CVDCRHD4  227792 non-null  int64
 28   CVDSTRK3  227792 non-null  int64
 29   ASTHMA3   227792 non-null  int64
 30   ASTHNOW   32211 non-null   float64
 31   CHCSCNCR  227792 non-null  int64
 32   CHCOCNCR  227792 non-null  int64
 33   CHCCOPD3  227792 non-null  int64
 34   ADDEPEV3  227792 non-null  int64
 35   CHCKDNY2  227792 non-null  int64
 36   DIABETE4  227792 non-null  int64
 37   DIABAGE3  27971 non-null   float64
 38   HAVARTH5  227792 non-null  int64
 39   ARTHEXER  68979 non-null   float64
 40   ARTHEDU   68979 non-null   float64
 41   LMTJOIN3  68979 non-null   float64
 42   ARTHDIS2  68979 non-null   float64
 43   JOINPAI2  68979 non-null   float64
 44   MARITAL   227791 non-null  float64
 45   EDUCA     227792 non-null  int64
 46   RENTHOM1  227791 non-null  float64
 47   NUMHHOL3  55523 non-null   float64
 48   NUMPHON3  16085 non-null   float64
 49   CPDEMO1B  227622 non-null  float64
 50   VETERAN3  226843 non-null  float64
 51   EMPLOY1   225745 non-null  float64
 52   CHILDREN  224252 non-null  float64
 53   INCOME3   222638 non-null  float64
 54   PREGNANT  44909 non-null   float64
 55   WEIGHT2   221045 non-null  float64
 56   HEIGHT3   220384 non-null  float64
 57   DEAF      219476 non-null  float64
 58   BLIND     218819 non-null  float64
 59   DECIDE    218245 non-null  float64
 60   DIFFWALK  217591 non-null  float64
 61   DIFFDRES  217146 non-null  float64
 62   DIFFALON  216570 non-null  float64
 63   SMOKE100  215791 non-null  float64
 64   SMOKDAY2  82334 non-null   float64
 65   USENOW3   215384 non-null  float64
 66   ECIGNOW1  214779 non-null  float64
 67   ALCDAY5   213924 non-null  float64
 68   AVEDRNK3  114735 non-null  float64
 69   DRNK3GE5  114367 non-null  float64
 70   MAXDRNKS  114037 non-null  float64
 71   FLUSHOT7  212143 non-null  float64
 72   FLSHTMY3  112406 non-null  float64
 73   IMFVPLA2  110265 non-null  float64
 74   PNEUVAC4  211315 non-null  float64
 75   HIVTST7   210700 non-null  float64
 76   HIVTSTD3  72387 non-null   float64
 77   FRUIT2    208483 non-null  float64
 78   FRUITJU2  207601 non-null  float64
 79   FVGREEN1  206942 non-null  float64
 80   FRENCHF1  206339 non-null  float64
 81   POTATOE1  205712 non-null  float64
 82   VEGETAB2  205014 non-null  float64
 83   _STSTR    227792 non-null  int64
 84   _IMPSEX   227792 non-null  int64
 85   CAGEG     26664 non-null   float64
 86   _RFHLTH   227792 non-null  int64
 87   _PHYS14D  227792 non-null  int64
 88   _MENT14D  227792 non-null  int64
 89   _HLTHPLN  227792 non-null  int64
 90   _HCVU652  227792 non-null  int64
 91   _TOTINDA  227792 non-null  int64
 92   _RFHYPE6  227792 non-null  int64
 93   _CHOLCH3  227792 non-null  int64
 94   _RFCHOL3  197811 non-null  float64
 95   _MICHD    225484 non-null  float64
 96   _LTASTH1  227792 non-null  int64
 97   _CASTHM1  227792 non-null  int64
 98   _ASTHMS1  227792 non-null  int64
 99   _DRDXAR3  226312 non-null  float64
 100  _LMTACT3  226312 non-null  float64
 101  _LMTWRK3  226312 non-null  float64
 102  _PRACE1   227792 non-null  int64
 103  _MRACE1   227792 non-null  int64
 104  _HISPANC  227792 non-null  int64
 105  _RACE     227792 non-null  int64
 106  _RACEG21  227792 non-null  int64
 107  _RACEGR3  227792 non-null  int64
 108  _RACEPRV  227792 non-null  int64
 109  _SEX      227792 non-null  int64
 110  _AGEG5YR  227792 non-null  int64
 111  _AGE65YR  227792 non-null  int64
 112  _AGE80    227792 non-null  int64
 113  _AGE_G    227792 non-null  int64
 114  WTKG3     205081 non-null  float64
 115  _BMI5     201451 non-null  float64
 116  _BMI5CAT  201451 non-null  float64
 117  _RFBMI5   227792 non-null  int64
 118  _EDUCAG   227792 non-null  int64
 119  _INCOMG1  227792 non-null  int64
 120  _SMOKER3  227792 non-null  int64
 121  _RFSMOK3  227792 non-null  int64
 122  _CURECI1  227792 non-null  int64
 123  DRNKANY5  227792 non-null  int64
 124  _RFBING5  227792 non-null  int64
 125  _DRNKWK1  227792 non-null  int64
 126  _RFDRHV7  227792 non-null  int64
 127  _FLSHOT7  78268 non-null   float64
 128  _PNEUMO3  78268 non-null   float64
 129  _AIDTST4  210700 non-null  float64
 130  FTJUDA2_  203138 non-null  float64
 131  FRUTDA2_  203695 non-null  float64
 132  GRENDA1_  203343 non-null  float64
 133  FRNCHDA_  202906 non-null  float64
 134  POTADA1_  201036 non-null  float64
 135  VEGEDA2_  200975 non-null  float64
 136  _MISFRT1  227792 non-null  int64
 137  _MISVEG1  227792 non-null  int64
 138  _FRTRES1  227792 non-null  int64
 139  _VEGRES1  227792 non-null  int64
 140  _FRUTSU1  199933 non-null  float64
 141  _VEGESU1  195179 non-null  float64
 142  _FRTLT1A  227792 non-null  int64
 143  _VEGLT1A  227792 non-null  int64
 144  _FRT16A   227792 non-null  int64
 145  _VEG23A   227792 non-null  int64
 146  _FRUITE1  227792 non-null  int64
 147  _VEGETE1  227792 non-null  int64
 148  _MMSA     227792 non-null  int64
 149  _MMSAWT   227792 non-null  float64
 150  SEQNO     227792 non-null  int64
 151  MMSANAME  227792 non-null  object
dtypes: float64(84), int64(67), object(1)
memory usage: 265.9+ MB

### Converting 2019 BRFSS Dataframe Columns to appropriate datatype

In [10]:
#Any variable with value counts below 14 with be turned to a categorical nominal datatype:
# Convert 'col1' from float to categorical
for col in modeldf2019.columns:
    if len(modeldf2019[col].value_counts()) < 15:
        modeldf2019[col] = modeldf2019[col].astype('category')
        
for col in modeldf2021.columns:
    if len(modeldf2021[col].value_counts()) < 15:
        modeldf2021[col] = modeldf2021[col].astype('category')

In [11]:
##Extract state from MMSANAME
def get_state(col):
    return col.split(',')[1]

modeldf2019['STATE'] = modeldf2019['MMSANAME'].apply(get_state)
modeldf2021['STATE'] = modeldf2021['MMSANAME'].apply(get_state)

In [12]:
columns = ['FRNCHDA_','POTADA1_', 'FRUTDA2_', 'FTJUDA2_', 'VEGEDA2_', 'GRENDA1_', 
                '_FRUTSU1', '_VEGESU1', '_HLTHPLN','PRIMINSR', '_RACE', 'MEDCOST1', 'MARITAL', '_EDUCAG', 
                'RENTHOM1', 'EMPLOY1', 'CHILDREN', '_INCOMG1', '_TOTINDA', 'CHCOCNCR', 'SMOKE100', 
                'SMOKDAY2', 'USENOW3','_SMOKER3', '_RFSMOK3','_RFBING5', 'DIABETE4','EXERANY2', 
                'CHCOCNCR', '_MICHD', '_RFHYPE6', '_RFCHOL3', 'ADDEPEV3', 'DECIDE','_AGE65YR', 
                'WTKG3', '_BMI5', '_BMI5CAT', '_SEX','STATE','SEQNO','_RFHLTH']
len(columns)

42

In [13]:
#RENAME COLUMNS in 2019 dataset to match 2021:
modeldf2019.rename(columns={'_INCOMG':'_INCOMG1','_RFHYPE5':'_RFHYPE6','HLTHPLN1': 'PRIMINSR','MEDCOST':'MEDCOST1',
                  '_RFCHOL2':'_RFCHOL3'},inplace=True)

In [14]:
#Create a _HLTHPLN from PRIMINSR IN 2019 df (- '_HLTHPLN' - Categorical variable for healthcare plan )

modeldf2019['_HLTHPLN'] = modeldf2019['PRIMINSR'].apply(lambda x: 1 if x in [1,2,3,4,5,6,7,8,9] 
                                                        else 2 if x == 88 else 'NA')

modeldf2019['_TOTINDA'] = modeldf2019['_TOTINDA'].astype(float)

#Create a DROCDY3_ from ALCDAY5 by dividing the ALCDAY5 variable by 7 days per week or 30 days per month
def compute_drocdy3_(x):
    # Handle NaN values
    if pd.isna(x):
        return np.nan
    
    x_int = int(str(x).split(".")[0])
    
    if x_int == 888:
        return 0.0
    elif x_int // 100 == 1:
        return (x_int % 100) / 7.0
    elif x_int // 100 == 2:
        return (x_int % 100) / 30.0
    elif x_int in [777, 999]:
        return np.nan
    else:
        return float(x_int)

modeldf2019['DROCDY3_'] = modeldf2019['ALCDAY5'].apply(compute_drocdy3_)
modeldf2021['DROCDY3_'] = modeldf2021['ALCDAY5'].apply(compute_drocdy3_)

In [15]:
# Get common columns
common_columns = modeldf2019.columns.intersection(modeldf2021.columns)

# 2021 index with common columns
brfss_df = modeldf2021[common_columns]

In [16]:
#Lets clean up 2021 and keep as our validation dataset

In [17]:
#Convert appropriate columns into categories
# List of columns to convert
columns_list = ['_AGE65YR', '_INCOMG1', '_TOTINDA', '_HLTHPLN', '_RFBING5', 
                'PRIMINSR', '_EDUCAG', '_SMOKER3','_RFSMOK3','_SEX', '_RFHYPE6','PHYSHLTH',
                '_RFHLTH','MENTHLTH','_AGEG5YR','_ASTHMS1','_HISPANC','ALCDAY5',
                "CHECKUP1","CVDSTRK3","CHCSCNCR","CHCOCNCR","ADDEPEV3","CHCKDNY2", "DIABETE4",'_RACE']

# Convert each column to category data type in place
for col in columns_list:
    brfss_df[col] = brfss_df[col].astype('category')

#convert height to height in meters
def calculate_htinm(height3):
    if 300 <= height3 <= 311:
        htinm = ((height3 - 300) + 36)*0.0254
    elif 400 <= height3 <= 411:
        htinm = ((height3 - 400) + 48)*0.0254
    elif 500 <= height3 <= 511:
        htinm = ((height3 - 500) + 60)*0.0254
    elif 600 <= height3 <= 611:
        htinm = ((height3 - 600) + 72)*0.0254
    elif 700 <= height3 <= 711:
        htinm = ((height3 - 700) + 84)*0.0254
    else:
        htinm = None  # Handle cases that don't match any condition
    
    return htinm

brfss_df['HEIGHT3'] = brfss_df['HEIGHT3'].apply(calculate_htinm)

In [18]:
brfss_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 227792 entries, 1 to 227792
Data columns (total 136 columns):
 #    Column    Non-Null Count   Dtype
---   ------    --------------   -----
 0    DISPCODE  227792 non-null  category
 1    STATERE1  55524 non-null   category
 2    LADULT1   55524 non-null   category
 3    COLGSEX   18 non-null      category
 4    LANDSEX   23345 non-null   category
 5    RESPSLCT  30824 non-null   category
 6    SAFETIME  172268 non-null  category
 7    CADULT1   172268 non-null  category
 8    CELLSEX   172267 non-null  category
 9    HHADULT   172267 non-null  float64
 10   SEXVAR    227792 non-null  category
 11   GENHLTH   227790 non-null  category
 12   PHYSHLTH  227790 non-null  category
 13   MENTHLTH  227792 non-null  category
 14   POORHLTH  122851 non-null  float64
 15   PRIMINSR  227791 non-null  category
 16   MEDCOST1  227791 non-null  category
 17   CHECKUP1  227792 non-null  category
 18   BPMEDS    84782 non-null   category
 19   CVDINFR4  227792 non-null  category
 20   CVDCRHD4  227792 non-null  category
 21   CVDSTRK3  227792 non-null  category
 22   ASTHMA3   227792 non-null  category
 23   ASTHNOW   32211 non-null   category
 24   CHCSCNCR  227792 non-null  category
 25   CHCOCNCR  227792 non-null  category
 26   ADDEPEV3  227792 non-null  category
 27   CHCKDNY2  227792 non-null  category
 28   DIABETE4  227792 non-null  category
 29   DIABAGE3  27971 non-null   float64
 30   ARTHEXER  68979 non-null   category
 31   ARTHEDU   68979 non-null   category
 32   LMTJOIN3  68979 non-null   category
 33   ARTHDIS2  68979 non-null   category
 34   JOINPAI2  68979 non-null   category
 35   MARITAL   227791 non-null  category
 36   EDUCA     227792 non-null  category
 37   RENTHOM1  227791 non-null  category
 38   NUMHHOL3  55523 non-null   category
 39   NUMPHON3  16085 non-null   category
 40   CPDEMO1B  227622 non-null  category
 41   VETERAN3  226843 non-null  category
 42   EMPLOY1   225745 non-null  category
 43   CHILDREN  224252 non-null  float64
 44   WEIGHT2   221045 non-null  float64
 45   HEIGHT3   211904 non-null  float64
 46   PREGNANT  44909 non-null   category
 47   DEAF      219476 non-null  category
 48   BLIND     218819 non-null  category
 49   DECIDE    218245 non-null  category
 50   DIFFWALK  217591 non-null  category
 51   DIFFDRES  217146 non-null  category
 52   DIFFALON  216570 non-null  category
 53   SMOKE100  215791 non-null  category
 54   SMOKDAY2  82334 non-null   category
 55   USENOW3   215384 non-null  category
 56   ALCDAY5   213924 non-null  category
 57   AVEDRNK3  114735 non-null  float64
 58   DRNK3GE5  114367 non-null  float64
 59   MAXDRNKS  114037 non-null  float64
 60   EXERANY2  227792 non-null  category
 61   FRUIT2    208483 non-null  float64
 62   FRUITJU2  207601 non-null  float64
 63   FVGREEN1  206942 non-null  float64
 64   FRENCHF1  206339 non-null  float64
 65   POTATOE1  205712 non-null  float64
 66   VEGETAB2  205014 non-null  float64
 67   FLUSHOT7  212143 non-null  category
 68   FLSHTMY3  112406 non-null  float64
 69   PNEUVAC4  211315 non-null  category
 70   HIVTST7   210700 non-null  category
 71   HIVTSTD3  72387 non-null   float64
 72   _STSTR    227792 non-null  int64
 73   _IMPSEX   227792 non-null  category
 74   CAGEG     26664 non-null   category
 75   _RFHLTH   227792 non-null  category
 76   _PHYS14D  227792 non-null  category
 77   _MENT14D  227792 non-null  category
 78   _RFHYPE6  227792 non-null  category
 79   _RFCHOL3  197811 non-null  category
 80   _MICHD    225484 non-null  category
 81   _LTASTH1  227792 non-null  category
 82   _CASTHM1  227792 non-null  category
 83   _ASTHMS1  227792 non-null  category
 84   _PRACE1   227792 non-null  category
 85   _MRACE1   227792 non-null  category
 86   _HISPANC  227792 non-null  category
 87   _RACE     227792 non-null  category
 88   _RACEG21  227792 non-null  category
 89   _RACEGR3  227792 non-null  category
 90   _SEX      227792 non-null  category
 91   _AGEG5YR  227792 non-null  category
 92   _AGE65YR  227792 non-null  category
 93   _AGE80    227792 non-null  int64
 94   _AGE_G    227792 non-null  category
 95   WTKG3     205081 non-null  float64
 96   _BMI5     201451 non-null  float64
 97   _BMI5CAT  201451 non-null  category
 98   _RFBMI5   227792 non-null  category
 99   _EDUCAG   227792 non-null  category
 100  _INCOMG1  227792 non-null  category
 101  _SMOKER3  227792 non-null  category
 102  _RFSMOK3  227792 non-null  category
 103  DRNKANY5  227792 non-null  category
 104  _RFBING5  227792 non-null  category
 105  _DRNKWK1  227792 non-null  int64
 106  _RFDRHV7  227792 non-null  category
 107  _TOTINDA  227792 non-null  category
 108  FTJUDA2_  203138 non-null  float64
 109  FRUTDA2_  203695 non-null  float64
 110  GRENDA1_  203343 non-null  float64
 111  FRNCHDA_  202906 non-null  float64
 112  POTADA1_  201036 non-null  float64
 113  VEGEDA2_  200975 non-null  float64
 114  _MISFRT1  227792 non-null  category
 115  _MISVEG1  227792 non-null  category
 116  _FRTRES1  227792 non-null  category
 117  _VEGRES1  227792 non-null  category
 118  _FRUTSU1  199933 non-null  float64
 119  _VEGESU1  195179 non-null  float64
 120  _FRTLT1A  227792 non-null  category
 121  _VEGLT1A  227792 non-null  category
 122  _FRT16A   227792 non-null  category
 123  _VEG23A   227792 non-null  category
 124  _FRUITE1  227792 non-null  category
 125  _VEGETE1  227792 non-null  category
 126  _FLSHOT7  78268 non-null   category
 127  _PNEUMO3  78268 non-null   category
 128  _AIDTST4  210700 non-null  category
 129  _MMSA     227792 non-null  int64
 130  _MMSAWT   227792 non-null  float64
 131  SEQNO     227792 non-null  int64
 132  MMSANAME  227792 non-null  object
 133  STATE     227792 non-null  object
 134  _HLTHPLN  227792 non-null  category
 135  DROCDY3_  210761 non-null  float64
dtypes: category(100), float64(29), int64(5), object(2)
memory usage: 86.0+ MB

In [19]:
#Lets make a copy of the merged dataframe
processed_features_df = brfss_df.copy()

#Place decimal place in fruit and vegetable columns (as it was implied)
def convert_decimal(x):
    if pd.isna(x):
        return np.nan
    else:
        return x/100
    
cols = ['FRNCHDA_','POTADA1_', 'FRUTDA2_', 'FTJUDA2_', 'VEGEDA2_', 'GRENDA1_', 
                '_FRUTSU1', '_VEGESU1','WTKG3','_BMI5']

#Convert features to appropriate values by placing the decimal place 
for col in cols:
    processed_features_df[col] = processed_features_df[col].apply(convert_decimal)
    
#Convert STATE column to US state
from States import states
processed_features_df['STATE'] = processed_features_df['STATE'].apply(lambda x: states[(x[-2:])] 
                                                                      if (x[-2:]) in states else x)

### Generate EDA Report with Original Dataset

In [ ]:
profile = ProfileReport(modeldf2021)
profile.to_file(output_file="mydata/EDA_Report_2021.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

### Handle Missing data

In [ ]:
pd.reset_option('display.max_rows',None)

In [ ]:
#check missing values in train dataset
total = processed_features_df.isnull().sum().sort_values(ascending=False)
percent = (processed_features_df.isnull().sum()/processed_features_df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
print(missing_data.to_string())

In [ ]:
#Drop columns with more that 45% missing values 
col_more45 = list(missing_data.index[missing_data['Percent'] > 0.45])
col_more45
processed_features_df.drop(columns=col_more45,inplace=True)

#Drop columns that are of very low variance and have high unque vales and may be of no importance to ones health

processed_features_df.drop(columns=['SAFETIME','CELLSEX','DISPCODE','_MMSA','_MMSAWT'],inplace=True)
processed_features_df.info()

##### Vegetable and fruit columns calculated from other veg_fruit columns (So we will keep only these ones)
     'FRNCHDA_'- french fry intake in time per day 2
     'POTADA1_' - computed potatoe servings per day 
     'FRUTDA2_',- number of fruits consunmed per day 
     'FTJUDA2_'- computed fruit juice intake in times per day 
     'VEGEDA2_', - COMPUTED NUMBER OF OTHER VEGIES eaten per day - not lettuce or potatoe 
     'GRENDA1_'- Number of dark green vegetables per day Times per day  
     'FRUTSU1', Number of Fruits consumed per day 
     'VEGESU1', Number of Vegetables consumed per day

In [ ]:
#Drop redundant Columns and irreleveant columns
processed_features_df.drop(columns=['SEQNO','_AGE80','_AGE65YR','_AGE_G','SEXVAR',
                                    'WEIGHT2','_CASTHM1','_LTASTH1','PRIMINSR','EXERANY2','CHILDREN','EDUCA',
                                    'ASTHMA3','SMOKE100','CPDEMO1B','_STSTR','CVDINFR4','CVDCRHD4','_RACEG21'
                                   ,'_RACEGR3','_PRACE1','_MRACE1','_IMPSEX','CADULT1','GENHLTH',
                                    'HHADULT','_RFBMI5','VEGETAB2','POTATOE1','FRENCHF1',
                                    'FVGREEN1','FRUITJU2','FRUIT2','HIVTST7'],inplace=True)

In [ ]:
#vizualize misisng values using a heatmap
plt.figure(figsize=(20,10))
sns.heatmap(processed_features_df.isnull(),yticklabels=False,cmap='viridis',cbar=False)

In [ ]:
#Drop the rows where columns have less than 5% missing values 
#list of columns with less than 5% missing data 

#check missing values in train dataset
total = processed_features_df.isnull().sum().sort_values(ascending=False)
percent = (processed_features_df.isnull().sum()/processed_features_df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])

col_less5miss = list(missing_data.index[missing_data['Percent'] < 0.05])
processed_features_df.dropna(subset=col_less5miss,inplace=True)

In [ ]:
print(missing_data.to_string())

In [ ]:
#replace the missing values in height with the mean for males and mean for females as it is normally distributed 

# Calculate mean height values for men and women separately
mean_height_men = processed_features_df[processed_features_df['_SEX'] == 1]['HEIGHT3'].mean()
mean_height_women = processed_features_df[processed_features_df['_SEX'] == 2]['HEIGHT3'].mean()

# Replace missing values with the corresponding mean height value
processed_features_df.loc[(processed_features_df['_SEX'] == 1) & (processed_features_df['HEIGHT3'].isnull()), 'HEIGHT3'] = mean_height_men
processed_features_df.loc[(processed_features_df['_SEX'] == 2) & (processed_features_df['HEIGHT3'].isnull()), 'HEIGHT3'] = mean_height_women

In [ ]:
#replace the missing values in weight with the mean for males and mean for females as it is normally distributed 
#'WTKG3' - Weight in KG

# Calculate mean weight values for men and women separately
mean_height_men = processed_features_df[processed_features_df['_SEX'] == 1]['WTKG3'].mean()
mean_height_women = processed_features_df[processed_features_df['_SEX'] == 2]['WTKG3'].mean()

# Replace missing values with the corresponding mean weight value
processed_features_df.loc[(processed_features_df['_SEX'] == 1) & (processed_features_df['WTKG3'].isnull()), 'WTKG3'] = mean_height_men
processed_features_df.loc[(processed_features_df['_SEX'] == 2) & (processed_features_df['WTKG3'].isnull()), 'WTKG3'] = mean_height_women

In [ ]:
#Fill in the missing _BMI5 values with the calculated value from weight and height 

# Replace missing values with the Calculated BMI value
processed_features_df['_BMI5'].fillna(processed_features_df['WTKG3'] / processed_features_df['HEIGHT3']**2, inplace=True)

#fill in the missing _BMICAT5 categories with the alotted categories based on _BMI5
def categorize_bmi(_BMI5):
    if 0.00 <= _BMI5 < 18.50:
        return 1
    elif 18.50 <= _BMI5 < 25.00:
        return 2
    elif 25.00 <= _BMI5 < 30.00:
        return 3
    elif _BMI5 >= 30.00:
        return 4
    else:
        return None  # Handle other possible cases (e.g. negative BMI or None)

processed_features_df['_BMI5CAT']= processed_features_df['_BMI5'].apply(categorize_bmi)
processed_features_df['_BMI5CAT'] = processed_features_df['_BMI5CAT'].astype('category')
processed_features_df.drop(columns='_BMI5',inplace=True)

In [ ]:
#Drop rows where these columns are null
column_names = [
    "MENTHLTH",
    "ADDEPEV3",
    "CHECKUP1",
    "CVDSTRK3",
    "DIABETE4",
    "_HLTHPLN",
    "MEDCOST1",
    "CHCSCNCR",
    "CHCOCNCR",
    "CHCKDNY2",
    "_RACE"
]
processed_features_df.dropna(subset=column_names,inplace=True)

In [ ]:
#check missing values in train dataset
total = processed_features_df.isnull().sum().sort_values(ascending=False)
percent = (processed_features_df.isnull().sum()/processed_features_df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
#print(missing_data.to_string())

In [ ]:
#Replace missing fruit and vegetable column values with the median value for each race & Age category assuming that
#different races and ages tend to have different diets
fruit_veg_columns = [
    '_VEGESU1',
    '_FRUTSU1',
    'VEGEDA2_',
    'POTADA1_',
    'FRNCHDA_',
    'FTJUDA2_',
    'GRENDA1_',
    'FRUTDA2_']

for col in fruit_veg_columns:
    medians = processed_features_df.groupby(['_RACE', '_AGEG5YR'])[col].transform('median')
    processed_features_df[col].fillna(medians, inplace=True)

In [ ]:
#The missing values in _RFCHOL3 are filled in a way that preserves the ratio of its subcategories. 
#This can be useful if you believe that the observed distribution is representative and want 
#the filled values to reflect that same distribution.

# Find distribution of non-missing values
value_counts = processed_features_df['_RFCHOL3'].value_counts(normalize=True)

# Fill missing values by sampling based on this distribution
missing_count = processed_features_df['_RFCHOL3'].isna().sum()
if missing_count > 0:
    imputed_values = np.random.choice(value_counts.index, 
                                      p=value_counts.values, 
                                      size=missing_count)
    processed_features_df.loc[processed_features_df['_RFCHOL3'].isna(), '_RFCHOL3'] = imputed_values

In [ ]:
#Drop all rows with any NA values 
processed_features_df.dropna(inplace=True)
#processed_features_df.info()

In [ ]:
#vizualize misisng values using a heatmap
plt.figure(figsize=(20,10))
sns.heatmap(processed_features_df.isnull(),yticklabels=False,cmap='viridis',cbar=False)

In [ ]:
#Lets Generate A profile report of the cleaned data
profile = ProfileReport(processed_features_df,minimal=True,dark_mode=True)
#profile.to_file(output_file="EDA_Report_Cleaned.html")
profile

In [ ]:
processed_features_df.info()

In [ ]:
processed_features_df.describe([0.25,0.50,0.75,0.99]).T

In [ ]:
# Replace outliers with the 99 percentile value except weight column

num_cols = ['HEIGHT3','_DRNKWK1','FTJUDA2_','FRUTDA2_','GRENDA1_','FRNCHDA_',
            'POTADA1_','VEGEDA2_','_FRUTSU1','_VEGESU1','DROCDY3_']

for i in num_cols:
    percentile_99 = np.percentile(processed_features_df[i], 99)
    processed_features_df.loc[processed_features_df[i] > percentile_99, i] = percentile_99

In [ ]:
processed_features_df.describe([0.25,0.50,0.75,0.99]).T

- We can see the presence of significant multicolinearity between the fruits and vegetable columns, which we will
look to remove further down the line

#### Export the processed df out to be split into training and validation data

In [ ]:
processed_features_df.to_csv('mydata/MMSA2021_Cleaned.csv', index=False)

### EXPLORATORY DATA ANALYSIS

In [ ]:
#Chesk for correlation between the numeric vairbales 
plt.figure(figsize=(12,8))
plt.figure(figsize=(22,22))
sns.heatmap(processed_features_df[num_cols].corr(),cmap='seismic',annot=True)