### MODEL DEVELOPMENT

In [9]:
import pandas as pd 
import seaborn as sns 
import statistics
import numpy as np
import matplotlib.pyplot as plt

In [10]:
%matplotlib inline

In [11]:
#Read in cleaned 2019 and 2021 Dataframes with numerical outliers removed
model_train = pd.read_csv('mydata/MMSA2019_Cleaned_2.csv')
model_valid = pd.read_csv('mydata/MMSA2021_Cleaned_2.csv')

In [12]:
model_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83666 entries, 0 to 83665
Data columns (total 97 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DISPCODE  83666 non-null  int64
 1   HHADULT   83666 non-null  float64
 2   SEXVAR    83666 non-null  object
 3   GENHLTH   83666 non-null  object
 4   PHYSHLTH  83666 non-null  float64
 5   MENTHLTH  83666 non-null  float64
 6   _HLTHPLN  83666 non-null  object
 7   MEDCOST1  83666 non-null  object
 8   CHECKUP1  83666 non-null  object
 9   CVDINFR4  83666 non-null  object
 10  CVDCRHD4  83666 non-null  object
 11  CVDSTRK3  83666 non-null  object
 12  ASTHMA3   83666 non-null  object
 13  CHCSCNCR  83666 non-null  object
 14  CHCOCNCR  83666 non-null  object
 15  ADDEPEV3  83666 non-null  object
 16  CHCKDNY2  83666 non-null  object
 17  DIABETE4  83666 non-null  object
 18  MARITAL   83666 non-null  object
 19  EDUCA     83666 non-null  object
 20  RENTHOM1  83666 non-null  object
 21  CPDEMO1B  83666 non-null  float64
 22  VETERAN3  83666 non-null  object
 23  EMPLOY1   83666 non-null  object
 24  CHILDREN  83666 non-null  float64
 25  WEIGHT2   83666 non-null  float64
 26  HEIGHT3   83666 non-null  float64
 27  DEAF      83666 non-null  object
 28  BLIND     83666 non-null  object
 29  DECIDE    83666 non-null  object
 30  DIFFWALK  83666 non-null  object
 31  DIFFDRES  83666 non-null  object
 32  DIFFALON  83666 non-null  object
 33  SMOKE100  83666 non-null  object
 34  USENOW3   83666 non-null  object
 35  EXERANY2  83666 non-null  object
 36  FLUSHOT7  83666 non-null  object
 37  PNEUVAC4  83666 non-null  object
 38  HIVTST7   83666 non-null  object
 39  _STSTR    83666 non-null  int64
 40  _IMPSEX   83666 non-null  object
 41  _RFHLTH   83666 non-null  object
 42  _PHYS14D  83666 non-null  int64
 43  _MENT14D  83666 non-null  int64
 44  _RFHYPE6  83666 non-null  object
 45  _RFCHOL3  83666 non-null  object
 46  _MICHD    83666 non-null  object
 47  _LTASTH1  83666 non-null  object
 48  _CASTHM1  83666 non-null  object
 49  _ASTHMS1  83666 non-null  object
 50  _PRACE1   83666 non-null  object
 51  _MRACE1   83666 non-null  object
 52  _HISPANC  83666 non-null  object
 53  _RACE     83666 non-null  object
 54  _RACEG21  83666 non-null  object
 55  _RACEGR3  83666 non-null  object
 56  _SEX      83666 non-null  object
 57  _AGEG5YR  83666 non-null  object
 58  _AGE65YR  83666 non-null  object
 59  _AGE80    83666 non-null  int64
 60  _AGE_G    83666 non-null  object
 61  WTKG3     83666 non-null  float64
 62  _BMI5     83666 non-null  float64
 63  _BMI5CAT  83666 non-null  object
 64  _RFBMI5   83666 non-null  object
 65  _EDUCAG   83666 non-null  object
 66  _INCOMG1  83666 non-null  object
 67  _SMOKER3  83666 non-null  object
 68  _RFSMOK3  83666 non-null  object
 69  DRNKANY5  83666 non-null  int64
 70  _RFBING5  83666 non-null  object
 71  _DRNKWK1  83666 non-null  float64
 72  _RFDRHV7  83666 non-null  object
 73  _TOTINDA  83666 non-null  object
 74  FTJUDA2_  83666 non-null  float64
 75  FRUTDA2_  83666 non-null  float64
 76  GRENDA1_  83666 non-null  float64
 77  FRNCHDA_  83666 non-null  float64
 78  POTADA1_  83666 non-null  float64
 79  VEGEDA2_  83666 non-null  float64
 80  _MISFRT1  83666 non-null  int64
 81  _MISVEG1  83666 non-null  int64
 82  _FRTRES1  83666 non-null  int64
 83  _VEGRES1  83666 non-null  int64
 84  _FRUTSU1  83666 non-null  float64
 85  _VEGESU1  83666 non-null  float64
 86  _FRTLT1A  83666 non-null  int64
 87  _VEGLT1A  83666 non-null  int64
 88  _FRT16A   83666 non-null  int64
 89  _VEG23A   83666 non-null  int64
 90  _FRUITE1  83666 non-null  int64
 91  _VEGETE1  83666 non-null  int64
 92  _AIDTST4  83666 non-null  object
 93  _MMSA     83666 non-null  int64
 94  _MMSAWT   83666 non-null  float64
 95  STATE     83666 non-null  object
 96  DROCDY3_  83666 non-null  float64
dtypes: float64(20), int64(17), object(60)
memory usage: 61.9+ MB

In [13]:
model_valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104619 entries, 0 to 104618
Data columns (total 97 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   DISPCODE  104619 non-null  int64
 1   HHADULT   104619 non-null  float64
 2   SEXVAR    104619 non-null  object
 3   GENHLTH   104619 non-null  object
 4   PHYSHLTH  104619 non-null  float64
 5   MENTHLTH  104619 non-null  float64
 6   _HLTHPLN  104619 non-null  object
 7   MEDCOST1  104619 non-null  object
 8   CHECKUP1  104619 non-null  object
 9   CVDINFR4  104619 non-null  object
 10  CVDCRHD4  104619 non-null  object
 11  CVDSTRK3  104619 non-null  object
 12  ASTHMA3   104619 non-null  object
 13  CHCSCNCR  104619 non-null  object
 14  CHCOCNCR  104619 non-null  object
 15  ADDEPEV3  104619 non-null  object
 16  CHCKDNY2  104619 non-null  object
 17  DIABETE4  104619 non-null  object
 18  MARITAL   104619 non-null  object
 19  EDUCA     104619 non-null  object
 20  RENTHOM1  104619 non-null  object
 21  CPDEMO1B  104619 non-null  float64
 22  VETERAN3  104619 non-null  object
 23  EMPLOY1   104619 non-null  object
 24  CHILDREN  104619 non-null  float64
 25  WEIGHT2   104619 non-null  float64
 26  HEIGHT3   104619 non-null  float64
 27  DEAF      104619 non-null  object
 28  BLIND     104619 non-null  object
 29  DECIDE    104619 non-null  object
 30  DIFFWALK  104619 non-null  object
 31  DIFFDRES  104619 non-null  object
 32  DIFFALON  104619 non-null  object
 33  SMOKE100  104619 non-null  object
 34  USENOW3   104619 non-null  object
 35  EXERANY2  104619 non-null  object
 36  FLUSHOT7  104619 non-null  object
 37  PNEUVAC4  104619 non-null  object
 38  HIVTST7   104619 non-null  object
 39  _STSTR    104619 non-null  int64
 40  _IMPSEX   104619 non-null  object
 41  _RFHLTH   104619 non-null  object
 42  _PHYS14D  104619 non-null  int64
 43  _MENT14D  104619 non-null  int64
 44  _RFHYPE6  104619 non-null  object
 45  _RFCHOL3  104619 non-null  object
 46  _MICHD    104619 non-null  object
 47  _LTASTH1  104619 non-null  object
 48  _CASTHM1  104619 non-null  object
 49  _ASTHMS1  104619 non-null  object
 50  _PRACE1   104619 non-null  object
 51  _MRACE1   104619 non-null  object
 52  _HISPANC  104619 non-null  object
 53  _RACE     104619 non-null  object
 54  _RACEG21  104619 non-null  object
 55  _RACEGR3  104619 non-null  object
 56  _SEX      104619 non-null  object
 57  _AGEG5YR  104619 non-null  object
 58  _AGE65YR  104619 non-null  object
 59  _AGE80    104619 non-null  int64
 60  _AGE_G    104619 non-null  object
 61  WTKG3     104619 non-null  float64
 62  _BMI5     104619 non-null  float64
 63  _BMI5CAT  104619 non-null  object
 64  _RFBMI5   104619 non-null  object
 65  _EDUCAG   104619 non-null  object
 66  _INCOMG1  104619 non-null  object
 67  _SMOKER3  104619 non-null  object
 68  _RFSMOK3  104619 non-null  object
 69  DRNKANY5  104619 non-null  int64
 70  _RFBING5  104619 non-null  object
 71  _DRNKWK1  104619 non-null  float64
 72  _RFDRHV7  104619 non-null  object
 73  _TOTINDA  104619 non-null  object
 74  FTJUDA2_  104619 non-null  float64
 75  FRUTDA2_  104619 non-null  float64
 76  GRENDA1_  104619 non-null  float64
 77  FRNCHDA_  104619 non-null  float64
 78  POTADA1_  104619 non-null  float64
 79  VEGEDA2_  104619 non-null  float64
 80  _MISFRT1  104619 non-null  int64
 81  _MISVEG1  104619 non-null  int64
 82  _FRTRES1  104619 non-null  int64
 83  _VEGRES1  104619 non-null  int64
 84  _FRUTSU1  104619 non-null  float64
 85  _VEGESU1  104619 non-null  float64
 86  _FRTLT1A  104619 non-null  int64
 87  _VEGLT1A  104619 non-null  int64
 88  _FRT16A   104619 non-null  int64
 89  _VEG23A   104619 non-null  int64
 90  _FRUITE1  104619 non-null  int64
 91  _VEGETE1  104619 non-null  int64
 92  _AIDTST4  104619 non-null  object
 93  _MMSA     104619 non-null  int64
 94  _MMSAWT   104619 non-null  float64
 95  STATE     104619 non-null  object
 96  DROCDY3_  104619 non-null  float64
dtypes: float64(20), int64(17), object(60)
memory usage: 77.4+ MB

**BASE MODELS**

-
-
-
-

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report,confusion_matrix

In [18]:
#lets create a new data frame with only dummmy categorical data and num columns 

num_cols = list(model_train.select_dtypes(exclude='object').columns)
cat_cols = list(model_train.select_dtypes(include='object').columns)

dummies_df = model_train[num_cols]
cat_cols = list(cat_cols)

for i in ['GENHLTH','_RFHLTH']:
    cat_cols.remove(i)


for i in cat_cols:
    temp = pd.get_dummies(model_train[i],drop_first=True,prefix=i)
    dummies_df = pd.concat([dummies_df,temp],axis=1)

dummies_df.head()

,DISPCODE,HHADULT,PHYSHLTH,MENTHLTH,CPDEMO1B,CHILDREN,WEIGHT2,HEIGHT3,_STSTR,_PHYS14D,...,STATE_South Carolina,STATE_South Dakota,STATE_Tennessee,STATE_Texas,STATE_Utah,STATE_Vermont,STATE_Virginia,STATE_Washington,STATE_West Virginia,STATE_Wisconsin
0,1200,2.0,0.0,0.0,2.0,3.0,180.0,1.7780,16049,1,...,0,1,0,0,0,0,0,0,0,0
1,1200,3.0,20.0,0.0,1.0,0.0,265.0,1.8034,16049,3,...,0,1,0,0,0,0,0,0,0,0
2,1200,1.0,1.0,0.0,1.0,0.0,170.0,1.7272,16049,2,...,0,1,0,0,0,0,0,0,0,0
3,1100,2.0,0.0,0.0,1.0,4.0,280.0,1.8288,16039,1,...,0,1,0,0,0,0,0,0,0,0
4,1100,2.0,0.0,0.0,1.0,0.0,270.0,1.9304,16049,1,...,0,1,0,0,0,0,0,0,0,0

In [20]:
dummies_df.columns = dummies_df.columns.astype(str)
model_train.columns = model_train.columns.astype(str)

In [21]:
X = dummies_df
y = model_train['_RFHLTH']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [22]:
#Decision tree
dtree = DecisionTreeClassifier()
dtree.fit(X_train,y_train)

predictions = dtree.predict(X_test)

print(classification_report(y_test,predictions))
print('---------------------------------------')
print(confusion_matrix(y_test,predictions))

                       precision    recall  f1-score   support

Good or Better Health       0.90      0.90      0.90     21078
  fair or poor health       0.48      0.49      0.49      4022

             accuracy                           0.83     25100
            macro avg       0.69      0.70      0.69     25100
         weighted avg       0.84      0.83      0.83     25100

---------------------------------------
[[18960  2118]
 [ 2045  1977]]

In [ ]:
#Naive Bayes

In [ ]:
#RandomForestClassifier

### Can perceived health be accurately predicted using dietary habits, socioeconomic indicators, lifestyle choices, and individual metrics?