In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import pandas as pd 
import seaborn as sns 
import statistics
import numpy as np
import matplotlib.pyplot as plt
from ydata_profiling import ProfileReport

In [4]:
%matplotlib inline

In [5]:
modeldf2019 = pd.read_csv('mydata/MMSA2019_train.csv')
modeldf2021 = pd.read_csv('mydata/MMSA2021_train.csv')

In [6]:
#pd.set_option('display.max_columns', None)

In [7]:
pd.set_option('display.max_info_columns', 1000)
pd.set_option('display.max_info_rows', 1000000)

In [8]:
import io
buffer = io.StringIO()
modeldf2019.info(buf=buffer)
info_str = buffer.getvalue()
print(info_str)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140514 entries, 0 to 140513
Data columns (total 180 columns):
 #    Column      Non-Null Count   Dtype
---   ------      --------------   -----
 0    Unnamed: 0  140514 non-null  int64
 1    DISPCODE    140514 non-null  int64
 2    STATERE1    47593 non-null   float64
 3    CELPHONE    47593 non-null   float64
 4    LADULT1     47593 non-null   float64
 5    COLGSEX     11 non-null      float64
 6    LANDSEX     20189 non-null   float64
 7    RESPSLCT    24008 non-null   float64
 8    SAFETIME    92921 non-null   float64
 9    CADULT1     92921 non-null   float64
 10   CELLSEX     92917 non-null   float64
 11   HHADULT     92918 non-null   float64
 12   SEXVAR      140514 non-null  int64
 13   GENHLTH     140501 non-null  float64
 14   PHYSHLTH    140503 non-null  float64
 15   MENTHLTH    140508 non-null  float64
 16   POORHLTH    77558 non-null   float64
 17   HLTHPLN1    140510 non-null  float64
 18   PERSDOC2    140511 non-null  float64
 19   MEDCOST     140511 non-null  float64
 20   CHECKUP1    140509 non-null  float64
 21   BPHIGH4     140512 non-null  float64
 22   BPMEDS      54210 non-null   float64
 23   CHOLCHK2    140503 non-null  float64
 24   TOLDHI2     132724 non-null  float64
 25   CHOLMED2    47419 non-null   float64
 26   CVDINFR4    140510 non-null  float64
 27   CVDCRHD4    140510 non-null  float64
 28   CVDSTRK3    140509 non-null  float64
 29   ASTHMA3     140510 non-null  float64
 30   ASTHNOW     20074 non-null   float64
 31   CHCSCNCR    140510 non-null  float64
 32   CHCOCNCR    140510 non-null  float64
 33   CHCCOPD2    140510 non-null  float64
 34   ADDEPEV3    140509 non-null  float64
 35   CHCKDNY2    140510 non-null  float64
 36   DIABETE4    140510 non-null  float64
 37   DIABAGE3    18062 non-null   float64
 38   HAVARTH4    140510 non-null  float64
 39   ARTHEXER    43986 non-null   float64
 40   ARTHEDU     43985 non-null   float64
 41   LMTJOIN3    43984 non-null   float64
 42   ARTHDIS2    43982 non-null   float64
 43   JOINPAI2    43985 non-null   float64
 44   MARITAL     140493 non-null  float64
 45   EDUCA       140501 non-null  float64
 46   RENTHOM1    140501 non-null  float64
 47   NUMHHOL3    47218 non-null   float64
 48   NUMPHON3    12032 non-null   float64
 49   CPDEMO1B    140035 non-null  float64
 50   VETERAN3    140012 non-null  float64
 51   EMPLOY1     139493 non-null  float64
 52   CHILDREN    138827 non-null  float64
 53   INCOME2     138051 non-null  float64
 54   WEIGHT2     137364 non-null  float64
 55   HEIGHT3     137072 non-null  float64
 56   PREGNANT    26259 non-null   float64
 57   DEAF        136486 non-null  float64
 58   BLIND       136192 non-null  float64
 59   DECIDE      135887 non-null  float64
 60   DIFFWALK    135587 non-null  float64
 61   DIFFDRES    135380 non-null  float64
 62   DIFFALON    135119 non-null  float64
 63   SMOKE100    134746 non-null  float64
 64   SMOKDAY2    53397 non-null   float64
 65   STOPSMK2    16857 non-null   float64
 66   LASTSMK2    36391 non-null   float64
 67   USENOW3     134480 non-null  float64
 68   ALCDAY5     133887 non-null  float64
 69   AVEDRNK3    70280 non-null   float64
 70   DRNK3GE5    70022 non-null   float64
 71   MAXDRNKS    69946 non-null   float64
 72   EXERANY2    132963 non-null  float64
 73   EXRACT11    98679 non-null   float64
 74   EXEROFT1    97357 non-null   float64
 75   EXERHMM1    97138 non-null   float64
 76   EXRACT21    97238 non-null   float64
 77   EXEROFT2    63739 non-null   float64
 78   EXERHMM2    63615 non-null   float64
 79   STRENGTH    130787 non-null  float64
 80   FRUIT2      129426 non-null  float64
 81   FRUITJU2    129127 non-null  float64
 82   FVGREEN1    128733 non-null  float64
 83   FRENCHF1    128572 non-null  float64
 84   POTATOE1    128231 non-null  float64
 85   VEGETAB2    127596 non-null  float64
 86   FLUSHOT7    127583 non-null  float64
 87   FLSHTMY3    64624 non-null   float64
 88   TETANUS1    123435 non-null  float64
 89   PNEUVAC4    127209 non-null  float64
 90   HIVTST7     126329 non-null  float64
 91   HIVTSTD3    45576 non-null   float64
 92   HIVRISK5    125879 non-null  float64
 93   _STSTR      140514 non-null  int64
 94   _IMPSEX     140514 non-null  int64
 95   CAGEG       16830 non-null   float64
 96   _RFHLTH     140514 non-null  int64
 97   _PHYS14D    140514 non-null  int64
 98   _MENT14D    140514 non-null  int64
 99   _HCVU651    140514 non-null  int64
 100  _RFHYPE5    140514 non-null  int64
 101  _CHOLCH2    140514 non-null  int64
 102  _RFCHOL2    124456 non-null  float64
 103  _MICHD      139188 non-null  float64
 104  _LTASTH1    140514 non-null  int64
 105  _CASTHM1    140514 non-null  int64
 106  _ASTHMS1    140514 non-null  int64
 107  _DRDXAR2    139666 non-null  float64
 108  _LMTACT2    139666 non-null  float64
 109  _LMTWRK2    139666 non-null  float64
 110  _PRACE1     140502 non-null  float64
 111  _MRACE1     140502 non-null  float64
 112  _HISPANC    140514 non-null  int64
 113  _RACE       140512 non-null  float64
 114  _RACEG21    140512 non-null  float64
 115  _RACEGR3    140512 non-null  float64
 116  _SEX        140514 non-null  int64
 117  _AGEG5YR    140514 non-null  int64
 118  _AGE65YR    140514 non-null  int64
 119  _AGE80      140514 non-null  int64
 120  _AGE_G      140514 non-null  int64
 121  WTKG3       129984 non-null  float64
 122  _BMI5       127540 non-null  float64
 123  _BMI5CAT    127540 non-null  float64
 124  _RFBMI5     140514 non-null  int64
 125  _EDUCAG     140514 non-null  int64
 126  _INCOMG     140514 non-null  int64
 127  _SMOKER3    140514 non-null  int64
 128  _RFSMOK3    140514 non-null  int64
 129  DRNKANY5    140514 non-null  int64
 130  _RFBING5    140514 non-null  int64
 131  _DRNKWK1    140514 non-null  int64
 132  _RFDRHV7    140514 non-null  int64
 133  _TOTINDA    140514 non-null  int64
 134  MAXVO21_    140514 non-null  int64
 135  FC601_      140514 non-null  int64
 136  ACTIN12_    96655 non-null   float64
 137  ACTIN22_    94102 non-null   float64
 138  _MINAC11    93795 non-null   float64
 139  _MINAC21    92980 non-null   float64
 140  PAMISS2_    140514 non-null  int64
 141  PAMIN12_    92418 non-null   float64
 142  PAMIN22_    91608 non-null   float64
 143  PA2MIN_     95290 non-null   float64
 144  PAVIG12_    94939 non-null   float64
 145  PAVIG22_    92838 non-null   float64
 146  PA2VIGM_    96152 non-null   float64
 147  _PACAT2     140514 non-null  int64
 148  _PAINDX2    140514 non-null  int64
 149  _PA150R3    140514 non-null  int64
 150  _PA300R3    140514 non-null  int64
 151  _PA30022    140514 non-null  int64
 152  _PASTRNG    140514 non-null  int64
 153  _PAREC2     140514 non-null  int64
 154  _PASTAE2    140514 non-null  int64
 155  FTJUDA2_    126976 non-null  float64
 156  FRUTDA2_    126904 non-null  float64
 157  GRENDA1_    126866 non-null  float64
 158  FRNCHDA_    126874 non-null  float64
 159  POTADA1_    125767 non-null  float64
 160  VEGEDA2_    125290 non-null  float64
 161  _MISFRT1    140514 non-null  int64
 162  _MISVEG1    140514 non-null  int64
 163  _FRTRES1    140514 non-null  int64
 164  _VEGRES1    140514 non-null  int64
 165  _FRUTSU1    125023 non-null  float64
 166  _VEGESU1    122140 non-null  float64
 167  _FRTLT1A    140514 non-null  int64
 168  _VEGLT1A    140514 non-null  int64
 169  _FRT16A     140514 non-null  int64
 170  _VEG23A     140514 non-null  int64
 171  _FRUITE1    140514 non-null  int64
 172  _VEGETE1    140514 non-null  int64
 173  _FLSHOT7    50585 non-null   float64
 174  _PNEUMO3    50585 non-null   float64
 175  _AIDTST4    126329 non-null  float64
 176  _MMSA       140514 non-null  int64
 177  _MMSAWT     140514 non-null  float64
 178  SEQNO       140514 non-null  int64
 179  MMSANAME    140514 non-null  object
dtypes: float64(126), int64(53), object(1)
memory usage: 193.0+ MB

In [25]:
buffer = io.StringIO()
modeldf2021.info(buf=buffer)
info_str = buffer.getvalue()
print(info_str)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151861 entries, 0 to 151860
Data columns (total 153 columns):
 #    Column    Non-Null Count   Dtype
---   ------    --------------   -----
 0    DISPCODE  151861 non-null  category
 1    STATERE1  37094 non-null   category
 2    CELPHON1  37094 non-null   category
 3    LADULT1   37094 non-null   category
 4    COLGSEX   13 non-null      category
 5    LANDSEX   15568 non-null   category
 6    RESPSLCT  20603 non-null   category
 7    SAFETIME  114767 non-null  category
 8    CADULT1   114767 non-null  category
 9    CELLSEX   114766 non-null  category
 10   HHADULT   114766 non-null  float64
 11   SEXVAR    151861 non-null  category
 12   GENHLTH   151860 non-null  category
 13   PHYSHLTH  151859 non-null  float64
 14   MENTHLTH  151861 non-null  float64
 15   POORHLTH  81991 non-null   float64
 16   PRIMINSR  151860 non-null  category
 17   PERSDOC3  151861 non-null  category
 18   MEDCOST1  151860 non-null  category
 19   CHECKUP1  151861 non-null  category
 20   EXERANY2  151861 non-null  category
 21   BPHIGH6   151861 non-null  category
 22   BPMEDS    56562 non-null   category
 23   CHOLCHK3  151861 non-null  category
 24   TOLDHI3   131964 non-null  category
 25   CHOLMED3  131786 non-null  category
 26   CVDINFR4  151861 non-null  category
 27   CVDCRHD4  151861 non-null  category
 28   CVDSTRK3  151861 non-null  category
 29   ASTHMA3   151861 non-null  category
 30   ASTHNOW   21562 non-null   category
 31   CHCSCNCR  151861 non-null  category
 32   CHCOCNCR  151861 non-null  category
 33   CHCCOPD3  151861 non-null  category
 34   ADDEPEV3  151861 non-null  category
 35   CHCKDNY2  151861 non-null  category
 36   DIABETE4  151861 non-null  category
 37   DIABAGE3  18689 non-null   float64
 38   HAVARTH5  151861 non-null  category
 39   ARTHEXER  46042 non-null   category
 40   ARTHEDU   46042 non-null   category
 41   LMTJOIN3  46042 non-null   category
 42   ARTHDIS2  46042 non-null   category
 43   JOINPAI2  46042 non-null   category
 44   MARITAL   151860 non-null  category
 45   EDUCA     151861 non-null  category
 46   RENTHOM1  151860 non-null  category
 47   NUMHHOL3  37094 non-null   category
 48   NUMPHON3  10735 non-null   category
 49   CPDEMO1B  151753 non-null  category
 50   VETERAN3  151238 non-null  category
 51   EMPLOY1   150488 non-null  category
 52   CHILDREN  149499 non-null  float64
 53   INCOME3   148430 non-null  category
 54   PREGNANT  29813 non-null   category
 55   WEIGHT2   147379 non-null  float64
 56   HEIGHT3   146934 non-null  float64
 57   DEAF      146333 non-null  category
 58   BLIND     145873 non-null  category
 59   DECIDE    145506 non-null  category
 60   DIFFWALK  145086 non-null  category
 61   DIFFDRES  144792 non-null  category
 62   DIFFALON  144395 non-null  category
 63   SMOKE100  143884 non-null  category
 64   SMOKDAY2  54936 non-null   category
 65   USENOW3   143597 non-null  category
 66   ECIGNOW1  143167 non-null  category
 67   ALCDAY5   142597 non-null  float64
 68   AVEDRNK3  76463 non-null   float64
 69   DRNK3GE5  76234 non-null   float64
 70   MAXDRNKS  76013 non-null   float64
 71   FLUSHOT7  141447 non-null  category
 72   FLSHTMY3  74881 non-null   float64
 73   IMFVPLA2  73440 non-null   category
 74   PNEUVAC4  140902 non-null  category
 75   HIVTST7   140507 non-null  category
 76   HIVTSTD3  48245 non-null   float64
 77   FRUIT2    138991 non-null  float64
 78   FRUITJU2  138378 non-null  float64
 79   FVGREEN1  137940 non-null  float64
 80   FRENCHF1  137525 non-null  float64
 81   POTATOE1  137102 non-null  float64
 82   VEGETAB2  136657 non-null  float64
 83   _STSTR    151861 non-null  float64
 84   _IMPSEX   151861 non-null  category
 85   CAGEG     17691 non-null   category
 86   _RFHLTH   151861 non-null  category
 87   _PHYS14D  151861 non-null  category
 88   _MENT14D  151861 non-null  category
 89   _HLTHPLN  151861 non-null  category
 90   _HCVU652  151861 non-null  category
 91   _TOTINDA  151861 non-null  category
 92   _RFHYPE6  151861 non-null  category
 93   _CHOLCH3  151861 non-null  category
 94   _RFCHOL3  131875 non-null  category
 95   _MICHD    150297 non-null  category
 96   _LTASTH1  151861 non-null  category
 97   _CASTHM1  151861 non-null  category
 98   _ASTHMS1  151861 non-null  category
 99   _DRDXAR3  150908 non-null  category
 100  _LMTACT3  150908 non-null  category
 101  _LMTWRK3  150908 non-null  category
 102  _PRACE1   151861 non-null  category
 103  _MRACE1   151861 non-null  category
 104  _HISPANC  151861 non-null  category
 105  _RACE     151861 non-null  category
 106  _RACEG21  151861 non-null  category
 107  _RACEGR3  151861 non-null  category
 108  _RACEPRV  151861 non-null  category
 109  _SEX      151861 non-null  category
 110  _AGEG5YR  151861 non-null  category
 111  _AGE65YR  151861 non-null  category
 112  _AGE80    151861 non-null  float64
 113  _AGE_G    151861 non-null  category
 114  WTKG3     136693 non-null  float64
 115  _BMI5     134322 non-null  float64
 116  _BMI5CAT  134322 non-null  category
 117  _RFBMI5   151861 non-null  category
 118  _EDUCAG   151861 non-null  category
 119  _INCOMG1  151861 non-null  category
 120  _SMOKER3  151861 non-null  category
 121  _RFSMOK3  151861 non-null  category
 122  _CURECI1  151861 non-null  category
 123  DRNKANY5  151861 non-null  category
 124  _RFBING5  151861 non-null  category
 125  _DRNKWK1  151861 non-null  float64
 126  _RFDRHV7  151861 non-null  category
 127  _FLSHOT7  51972 non-null   category
 128  _PNEUMO3  51972 non-null   category
 129  _AIDTST4  140507 non-null  category
 130  FTJUDA2_  135414 non-null  float64
 131  FRUTDA2_  135801 non-null  float64
 132  GRENDA1_  135552 non-null  float64
 133  FRNCHDA_  135224 non-null  float64
 134  POTADA1_  133965 non-null  float64
 135  VEGEDA2_  133962 non-null  float64
 136  _MISFRT1  151861 non-null  category
 137  _MISVEG1  151861 non-null  category
 138  _FRTRES1  151861 non-null  category
 139  _VEGRES1  151861 non-null  category
 140  _FRUTSU1  133297 non-null  float64
 141  _VEGESU1  130078 non-null  float64
 142  _FRTLT1A  151861 non-null  category
 143  _VEGLT1A  151861 non-null  category
 144  _FRT16A   151861 non-null  category
 145  _VEG23A   151861 non-null  category
 146  _FRUITE1  151861 non-null  category
 147  _VEGETE1  151861 non-null  category
 148  _MMSA     151861 non-null  float64
 149  _MMSAWT   151861 non-null  float64
 150  SEQNO     151861 non-null  float64
 151  MMSANAME  151861 non-null  object
 152  STATE     151861 non-null  object
dtypes: category(115), float64(36), object(2)
memory usage: 60.7+ MB

In [26]:
modeldf2021.columns

Index(['DISPCODE', 'STATERE1', 'CELPHON1', 'LADULT1', 'COLGSEX', 'LANDSEX',
       'RESPSLCT', 'SAFETIME', 'CADULT1', 'CELLSEX',
       ...
       '_VEGLT1A', '_FRT16A', '_VEG23A', '_FRUITE1', '_VEGETE1', '_MMSA',
       '_MMSAWT', 'SEQNO', 'MMSANAME', 'STATE'],
      dtype='object', length=153)

### Data Cleaning and Merging

In [11]:
#Any variable with value counts below 14 with be turned to a categorical nominal datatype:
# Convert 'col1' from float to categorical
for col in modeldf2019.columns:
    if len(modeldf2019[col].value_counts()) < 15:
        modeldf2019[col] = modeldf2019[col].astype('category')
        
for col in modeldf2021.columns:
    if len(modeldf2021[col].value_counts()) < 15:
        modeldf2021[col] = modeldf2021[col].astype('category')

In [12]:
#modeldf2019.info()

In [13]:
#modeldf2021.info()

In [14]:
##Extract state from MMSANAME

def get_state(col):
    return col.split(',')[1]

modeldf2019['STATE'] = modeldf2019['MMSANAME'].apply(get_state)

modeldf2021['STATE'] = modeldf2021['MMSANAME'].apply(get_state)

In [92]:
columns = ['FRNCHDA_','POTADA1_', 'FRUTDA2_', 'FTJUDA2_', 'VEGEDA2_', 'GRENDA1_', 
                '_FRUTSU1', '_VEGESU1', '_HLTHPLN','PRIMINSR', '_RACE', 'MEDCOST1', 'MARITAL', '_EDUCAG', 
                'RENTHOM1', 'EMPLOY1', 'CHILDREN', '_INCOMG1', '_TOTINDA', 'CHCOCNCR', 'SMOKE100', 
                'SMOKDAY2', 'USENOW3','_SMOKER3', '_RFSMOK3','_RFBING5', 'DIABETE4', 
                'CHCOCNCR', '_MICHD', '_RFHYPE6', '_RFCHOL3', 'ADDEPEV3', 'DECIDE', '_TOTINDA', '_AGEG5YR', 
                'WTKG3', '_BMI5', '_BMI5CAT', '_SEX','STATE','SEQNO']
len(columns)

41

In [93]:
#RENAME COLUMNS:
modeldf2019.rename(columns={'_INCOMG':'_INCOMG1','_RFHYPE5':'_RFHYPE6','HLTHPLN1': 'PRIMINSR','MEDCOST':'MEDCOST1',
                  '_RFCHOL2':'_RFCHOL3'},inplace=True)

In [94]:
#Create a _HLTHPLN from PRIMINSR IN 2019 df (- '_HLTHPLN' - Categorical variable for healthcare plan )

modeldf2019['_HLTHPLN'] = modeldf2019['PRIMINSR'].apply(lambda x: 1 if x in [1,2,3,4,5,6,7,8,9] else 2 if x == 88 else 'NA')

modeldf2019['_TOTINDA'] = modeldf2019['_TOTINDA'].astype(float)

#Create a DROCDY3_ from ALCDAY5 by dividing the ALCDAY5 variable by 7 days per week or 30 days per month

def compute_drocdy3_(x):
    # Handle NaN values
    if pd.isna(x):
        return np.nan
    
    x_int = int(str(x).split(".")[0])
    
    if x_int == 888:
        return 0.0
    elif x_int // 100 == 1:
        return (x_int % 100) / 7.0
    elif x_int // 100 == 2:
        return (x_int % 100) / 30.0
    elif x_int in [777, 999]:
        return np.nan
    else:
        return float(x_int)

modeldf2021['DROCDY3_'] = modeldf2019['ALCDAY5'].apply(compute_drocdy3_)

In [98]:
modeldf2019_2 = modeldf2019[columns]
modeldf2021_2 = modeldf2021[columns]

In [99]:
model_df = pd.concat([modeldf2019_2,modeldf2021_2])

In [100]:
model_df.head()

,FRNCHDA_,POTADA1_,FRUTDA2_,FTJUDA2_,VEGEDA2_,GRENDA1_,_FRUTSU1,_VEGESU1,_HLTHPLN,PRIMINSR,...,ADDEPEV3,DECIDE,_TOTINDA,_AGEG5YR,WTKG3,_BMI5,_BMI5CAT,_SEX,STATE,SEQNO
0,0.0,0.0,100.0,33.0,50.0,50.0,133.0,100.0,1.0,1.0,...,1.0,2.0,1.0,7.0,11294.0,3786.0,4.0,1.0,WI,2.019001e+09
1,0.0,10.0,200.0,0.0,14.0,29.0,200.0,53.0,1.0,1.0,...,2.0,2.0,1.0,13.0,11113.0,3232.0,4.0,1.0,IA-NE-SD,2.019000e+09
2,0.0,14.0,200.0,0.0,100.0,100.0,200.0,214.0,1.0,1.0,...,2.0,2.0,2.0,11.0,13154.0,3723.0,4.0,1.0,FL,2.019000e+09
3,10.0,10.0,0.0,0.0,100.0,13.0,0.0,133.0,1.0,1.0,...,2.0,2.0,2.0,9.0,6895.0,2969.0,3.0,2.0,RI-MA,2.019003e+09
4,43.0,29.0,14.0,0.0,29.0,0.0,14.0,101.0,1.0,1.0,...,2.0,2.0,1.0,6.0,9072.0,3132.0,4.0,2.0,KS,2.019002e+09

In [102]:
model_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292375 entries, 0 to 151860
Data columns (total 41 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   FRNCHDA_  262098 non-null  float64
 1   POTADA1_  259732 non-null  float64
 2   FRUTDA2_  262705 non-null  float64
 3   FTJUDA2_  262390 non-null  float64
 4   VEGEDA2_  259252 non-null  float64
 5   GRENDA1_  262418 non-null  float64
 6   _FRUTSU1  258320 non-null  float64
 7   _VEGESU1  252218 non-null  float64
 8   _HLTHPLN  292371 non-null  float64
 9   PRIMINSR  292370 non-null  float64
 10  _RACE     292373 non-null  category
 11  MEDCOST1  292371 non-null  category
 12  MARITAL   292353 non-null  category
 13  _EDUCAG   292375 non-null  float64
 14  RENTHOM1  292361 non-null  category
 15  EMPLOY1   289981 non-null  category
 16  CHILDREN  288326 non-null  float64
 17  _INCOMG1  292375 non-null  float64
 18  _TOTINDA  292375 non-null  float64
 19  CHCOCNCR  292371 non-null  category
 20  SMOKE100  278630 non-null  category
 21  SMOKDAY2  108333 non-null  category
 22  USENOW3   278077 non-null  category
 23  _SMOKER3  292375 non-null  float64
 24  _RFSMOK3  292375 non-null  float64
 25  _RFBING5  292375 non-null  float64
 26  DIABETE4  292371 non-null  category
 27  CHCOCNCR  292371 non-null  category
 28  _MICHD    289485 non-null  category
 29  _RFHYPE6  292375 non-null  float64
 30  _RFCHOL3  256331 non-null  category
 31  ADDEPEV3  292370 non-null  category
 32  DECIDE    281393 non-null  category
 33  _TOTINDA  292375 non-null  float64
 34  _AGEG5YR  292375 non-null  float64
 35  WTKG3     266677 non-null  float64
 36  _BMI5     261862 non-null  float64
 37  _BMI5CAT  261862 non-null  category
 38  _SEX      292375 non-null  float64
 39  STATE     292375 non-null  object
 40  SEQNO     292375 non-null  float64
dtypes: category(16), float64(24), object(1)
memory usage: 62.5+ MB

### Generate EDA Report with Original Dataset

In [ ]:
profile = ProfileReport(modeldf2019)
profile.to_file(output_file="mydata/EDA_Report_2019.html")

profile = ProfileReport(modeldf2021)
profile.to_file(output_file="mydata/EDA_Report_2021.html")

### Handling Missing Data

In [ ]:
#Step1 Remove Columns that have more than 50% missing values

def columns_with_high_null_percentage(df, threshold=0.9):
    """
    Get the columns with null values exceeding the specified threshold in a DataFrame.
    
    Parameters:
        df (pd.DataFrame): The input DataFrame.
        threshold (float): The threshold for null values (default is 0.9, meaning 90%).

    Returns:
        List[str]: A list of column names with null values exceeding the threshold.
    """
    null_percentages = (df.isnull().sum() / len(df)).sort_values(ascending=False)
    high_null_columns = null_percentages[null_percentages > threshold].index.tolist()
    return high_null_columns

high_null_columns = columns_with_high_null_percentage(model_build_df, threshold=0.4)
print(high_null_columns)

In [ ]:
model_build_df_1 = model_build_df.drop(columns=high_null_columns)
model_build_df_1.info()

In [ ]:
sns.countplot(x=model_build_df_1['_RFHLTH'])

In [ ]:
#number with any chronic illness saying they are in good health 

#cancer CHCOCNCR 1
#diabetes  DIABETE4 1
#heart disease _MICHD 1
#high bp _RFHYPE6 2

df_goodhealth = model_build_df_1[model_build_df_1['_RFHLTH'] == 1]

x = len(df_goodhealth)

print ("number of those that say they are in good health", x)

df_chronic_GH = df_goodhealth[(df_goodhealth['CHCOCNCR'] == 1) | 
              (df_goodhealth['DIABETE4'] == 1) | 
              (df_goodhealth['_MICHD'] == 1) |
              (df_goodhealth['_RFHYPE6']==2)]

print('% of those that say they are in good health and have at least 1 chronic disease',len(df_chronic_GH)/x)

In [ ]:
#Select columns of interest for each research question and for prediction of ones percieved GENHLTH

In [ ]:
#Step4 Remove Highly correlated Columns 
plt.figure(figsize=(20,15))
num_cols = model_build_df_1.select_dtypes(exclude='category').columns
sns.heatmap(model_build_df_1[num_cols].corr(),cmap='viridis',annot=True)

In [ ]:
#COLUMNS WITH HIGH CORRELATION

_FRUTSU1(TOTAL FRUITS CONSUMED PER DAY) AND FRUTDA2

In [ ]:
#profile = ProfileReport(model_build_df)
#profile.to_file(output_file="mydata/EDA_Report_No_NA.html")

## ANSWERING THE RESEARCH QUESTIONS

How do dietary habits and nutrition shape an individual's health outcome?
- we know that studies have shown that high fiber intake is associated with lower mortality.
as seen in this comparative study https://pubmed.ncbi.nlm.nih.gov/22648726/. 
- we would like to see how a high vegetable/fruit diet may be associated with a person percieved health. 
- the darker the vegetables the higher the fibre content

In [ ]:
#Columns of interest would be nutrition and diet related columns:
nutrition_cols = []
for key, value in description_dict.items():
    if any(sub in str(value).lower() for sub in ['fruit','vegetable','fruits','vegetables']):
        nutrition_cols.append(key)

In [ ]:
nutrition_cols

In [ ]:
#drop alcolhol related columns 
nutrition_cols = nutrition_cols[2:]
for col in nutrition_cols:
    print(description_dict[col])

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
#make a dataframe by combining nutrition columns with health status, health days columns  
nutrition_cols = nutrition_cols + ['GENHLTH','PHYSHLTH','POORHLTH','_RFHLTH','_PHYS14D','_MENT14D']
df_nutrition = model_build_df[nutrition_cols]

In [ ]:
df_nutrition.head()

In [ ]:
plt.figure(figsize=(15,10))
ax = sns.heatmap(df_nutrition.corr(),cmap='viridis',annot=True, annot_kws={"size": 8})

### Looking at the data we could use the calculated Total calcualted variables per day for the fruits and vegetables to see its relation to general health

In [ ]:
#_FRUTSU1=(FTJUDA2_/100) + (FRUTDA2_/100); 
#_FRUTSU1=round((_FRUTSU1*100),1); 

#WE CAN MAKE A TOTAL FRUITS PER DAY COLUMN 
df_nutrition['Total_fruits_daily'] = df_nutrition['_FRUTSU1'].apply(lambda x: round(x/100,1) )
df_nutrition.head()

In [ ]:
df_nutrition['Total_fruits_daily'].value_counts().head(20)

In [ ]:
#_VEGESU1=(GRENDA1_/100) + (FRNCHDA_/100) + (POTADA1_/100) + 
#(VEGEDA2_/100); 
#_VEGESU1=round((_VEGESU1*100),1); 

#WE CAN MAKE A TOTAL VEGETABLES PER DAY COLUMN 
df_nutrition['Total_vegetables_daily'] = df_nutrition['_VEGESU1'].apply(lambda x: round(x/100,1))
df_nutrition.head()

In [ ]:
df_nutrition['Total_vegetables_daily'].value_counts().head(20)

In [ ]:
df_nutrition.describe([0.25,0.5,0.75,0.99]).T

In [ ]:
#lets filter data to remove outliers 
filtered_df = df_nutrition[(df_nutrition['Total_fruits_daily'] <= 9.0) & 
                           (df_nutrition['Total_vegetables_daily'] <= 26.6396)]

In [ ]:
len(filtered_df)

In [ ]:
#Distribution of Total_fruits_daily
sns.histplot(x=filtered_df['Total_vegetables_daily'])

In [ ]:
#Distribution of Total_vegetables_daily
sns.histplot(x=filtered_df['Total_fruits_daily'])

In [ ]:
#create a BOX PLOT FOR _RFHLTH Vs Total fruits 
plt.figure(figsize=(5,5))
sns.set_style('darkgrid')
sns.boxplot(data=filtered_df, x='Total_fruits_daily', y='_RFHLTH')

In [ ]:
#CREATE A SCATTERPLOT FOR PHYSHLTH(Number of days of poor physical health) Vs Total fruits consued daily
plt.figure(figsize=(5,5))
sns.set_style('darkgrid')
sns.boxplot(data=filtered_df, y='Total_fruits_daily', x='_PHYS14D')

In [ ]:
#create a BOX PLOT FOR _RFHLTH Vs Total_vegetables_daily
plt.figure(figsize=(5,5))
sns.set_style('darkgrid')
sns.boxplot(data=filtered_df, x='Total_vegetables_daily', y='_RFHLTH')

In [ ]:
#Lets create a pivot table showing the mean fruits and vegetables consumed per day for each _RFHLTH group 

pivot_result = pd.pivot_table(filtered_df, values=['Total_fruits_daily','Total_vegetables_daily'],index='_RFHLTH', aggfunc='mean')

#Only looking at those who reported Good health vs those that reported poor/bad health
pivot_result[0:2]

- This analysis shows that those who reported good or better health had a higher mean daily intake of fruits and vegetables. Not a significant difference.

### Apply association rules between eating fruits and vegetables and good percieved health

In [ ]:
#!pip install mlxtend

In [ ]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

# Assuming you already have a DataFrame called filtered_df with 'Total_fruits_daily', 'Total_vegetables_daily' and '_RFHLTH' columns

# Binning Total_fruits_daily
fruit_bins = [0, 2, 4, 10]  # Adjust bins as per your data distribution for fruits
fruit_labels = ['Low_Fruit', 'Medium_Fruit', 'High_Fruit']
filtered_df['Fruit_Intake_Binned'] = pd.cut(filtered_df['Total_fruits_daily'], bins=fruit_bins, labels=fruit_labels, include_lowest=True)

# Binning Total_vegetables_daily
veg_bins = [0, 8, 16, 26]  # Adjust bins as per your data distribution for vegetables
veg_labels = ['Low_Veg', 'Medium_Veg', 'High_Veg']
filtered_df['Veg_Intake_Binned'] = pd.cut(filtered_df['Total_vegetables_daily'], bins=veg_bins, labels=veg_labels, include_lowest=True)

# Convert to the binary format
filtered_df_binary = pd.get_dummies(filtered_df[['Fruit_Intake_Binned', 'Veg_Intake_Binned', '_RFHLTH']])

# Apply Apriori to find frequent itemsets
frequent_itemsets = apriori(filtered_df_binary, min_support=0.1, use_colnames=True)

# Generate Association Rules
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)
print(rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']])

What is the role of access to healthcare,marriage status, Education and income in predicting health outcomes?

In [ ]:
#Get the columns related to access to healthcare,

In [ ]:
#make a dataframe by combining acess to healthcare columns with health status, health days columns

In [ ]:
#Do some EDA analysis and correlation analysis to see if there are relationships btw acess to healthcare and percieved
#health

In [ ]:
#Apply association rules between acess to healthcare and good percieved health

Can lifestyle factors, including smoking and alcohol consumption, 
predict health risks and outcomes?

In [ ]:
#Get the columns related to alcohol consumption and smoking

In [ ]:
#Get the columns related to exercise

How predictable are chronic diseases, such as diabetes and hypertension, through a combined analysis of 
lifestyle factors and genetic predisposition?

What is the significant contribution of mental health factors, such as stress, anxiety, 
and depression, to health outcomes, and what pathways influence overall well-being?